[2020-10-14 10:19] sculptex opened #11 "Postgres docker hub image compromised"
As per https://github.com/docker-library/postgres/issues/664

A compromised docker image is being utilized.

It results in a flood attack as follows:-

##########################################################################
#               Netscan detected from host  x.x.x.x               #
##########################################################################

time                protocol

[2020-10-15 10:15] KrishnaDeqode commented on #11
But we are using `postgres:11` image
In the attached link it says 11.2 is compromised, Which image we should use then?

[2020-10-15 10:29] sculptex commented on #11
I am a total novice with docker so cannot confirm what work. One solution proposed is to "updated the docker compose file to bind the ports to 127.0.0.1 instead of 0.0.0.0" but there also links to problems with 12.4 where another proposal says solution is to build from source instead of using prebuilt image, I don't know what is feasible. The issue did not appear immediately so is also hard to dia

[2020-10-15 10:35] sculptex commented on #11
![Screenshot at 2020-10-11 21-09-06](https://user-images.githubusercontent.com/12629448/96112432-801d5f00-0eda-11eb-93fa-f88b29ab60a6.png)
This was htop

[2020-10-15 12:48] sculptex commented on #11
A potential solution has been posted on https://github.com/0chain/blobber/pull/12 so I will close this issue

[2020-10-15 12:48] #11 closed

[2021-02-24 14:18] shravanshetty1 opened #18 "/getchallenge handler does not have any logs"
Needs logs to debug any issues with /getchallenge handler

[2021-02-24 14:19] #18 closed

[2021-02-24 18:41] shravanshetty1 opened #20 "Validator should log response from smart contract if status code is not 200"
Currently there is no way of knowing how a smartcontract api call failed from the MakeSCRestAPICall function. This should be changed.

[2021-02-26 14:25] shravanshetty1 opened #110 "Blobbers seem to be able to register twice"
Doing `zbox ls-blobbers` on three.devnet at the time of creating this issue shows that the same blobber has been registered twice with different ids.

[2021-03-02 05:14] #20 closed

[2021-03-08 10:42] avanaur opened #27 "Submit transaction error"
I am seeing these `submit transaction error` on the `0chainBlobber.log`

Could this be related to some failures I am getting when doing load tests?

[code]

Load test result:

This run shows updating file is `3/10` - 30% successful and others such as copy is `2/4` - 20% successful.
[code]

On the gosdk, the error logs looks like.

[code]

[2021-03-08 17:14] guruhubb commented on #27
Invalid tree generally means the file is not committed by the blobber and thats probably why the update, copy, delete, move are failing. Try these operations after some time and use the --commit to make sure all the operations are committed to the chain before the other crud operations on the file.

[2021-03-10 10:48] avanaur commented on #27
Cool. I will add the `--commit` which creates the meta transaction on the following transactions that alter the files.
- Upload
- Update
- Copy
- Delete
- Move
- Rename

[2021-03-13 03:51] shravanshetty1 opened #30 "Blobber should timeout requests that have not been responded to in over 10 seconds"

[2021-03-13 03:54] shravanshetty1 opened #31 "/v1/file/referencepath/{allocation} getting stuck on invalid allocation id and on bad filepath"

[2021-03-14 00:23] guruhubb commented on #27
Thanks @avanaur. Did this resolve the issue. If so, please close this issue.

[2021-03-15 13:31] avanaur commented on #27
Adding the commit meta transaction seems to resolve the issue. Will close this ticket.

[2021-03-15 13:31] #27 closed

[2021-03-22 00:12] stewartie4 opened #34 "Blobber returns 400 with misleading error message when it fails to gain sharder consensus"
When processing a commit request at v1/connection/commit/<id> the blobber attempts to get the write pool from the sharders. a consensus of 50% is required.
If this consensus is not reached (for example one or multiple sharders returning a 503) the blobber returns the following response:
HTTP 400
`{"code":"write_pre_redeem","error":"write_pre_redeem: can't request write pools from sharders: request

[2021-03-23 07:00] ronaudinho commented on #34
from what I've gathered:
1. this is doable, though I'm not that familiar with the sharder yet, so pinning retries on HTTP response code assumes that sharder's response conforms with REST standards as well (see point 3). I'll take a look at the repo and get back to you.
2. what do you think about informing the client if consensus may not be reached as there are non-2xx responses?
i.e when there are

[2021-03-23 07:15] guruhubb commented on #34
yes this makes sense to add some specific errors.

[2021-03-23 21:30] stewartie4 commented on #34
@ronaudinho Agreed, hopefully a 503 will be a good place to start as we know it is definitely returned in some instances.
Granular error codes/messages are always a win, anything to make it easier for the client to recover/the dev to integrate is good in my book.

On 3. - that's unfortunate, that sounds like it's big enough to be another feature of it's own - adding an error classifier/HTTP code m

[2021-03-24 15:52] stewartie4 commented on #34
looks to currently be (numSharders / 2) 50%

[2021-03-25 04:43] ronaudinho commented on #34
yeah but based on [these lines](https://github.com/0chain/blobber/blob/0b1d70a33122e1a99fdec574cf96a0b5b99a58e8/code/go/0chain.net/core/transaction/http.go#L203-L206), if the sharder is down, it will be excluded, so `if maxCount <= (numSharders / 2)` does not make sense to me:
1. 0 sharder should return an `not enough sharder available` or `no sharder available` error?
2. 1 sharder should return a

[2021-03-25 06:51] guruhubb commented on #34
1. Your suggestion is better.
2. Not if there is only 1 sharder in the blockchain. Then its fine and 100% consensus.
3. One is fine, because client can always verify the block from the sharder and subsequent blocks to build enough length for deterministic finality of a block. Also, one sharder could be down.
4. Same as 3. 50% is fine because client can verify. Also it depends how many sharders you

[2021-03-26 08:06] mallochine opened #38 "fix `make lint`"
Steps to repro:
1. `make lint` fails

You might need to install golangci-lint, follow instructions here: https://golangci-lint.run/usage/install/

make sure the $GOPATH/bin is in your $PATH.

[2021-03-26 08:12] satchinjoshi commented on #38
@mallochine  it is only being installed GitHub action https://github.com/0chain/blobber/blob/master/.github/workflows/ci.yml#L33-L38

[2021-03-26 08:33] mallochine commented on #38
The issue are lint errors.

In order to debug and fix lint errors locally on your dev environment instead of uploading to Github Actions every time, you might need to install golangci-lint

[2021-03-29 12:58] MurashovVen commented on #31
@shravanshetty1, I am working on this problem, could you please describe the error in more detail?

[2021-03-29 13:39] shravanshetty1 commented on #31
https://github.com/0chain/0proxy/issues/1

[2021-03-30 07:37] shravanshetty1 opened #40 "Implement rate limiter middleware for grpc"

[2021-03-30 07:38] shravanshetty1 opened #41 "Generate swagger-ui from openapi spec"

[2021-03-30 07:38] shravanshetty1 opened #42 "Add integration test from GRPC 'GetAllocation' method"

[2021-03-30 07:41] shravanshetty1 opened #43 "Use 'buf' to run grpc commands"

[2021-03-30 07:41] shravanshetty1 commented on #43
https://github.com/bufbuild/buf

[2021-03-30 07:43] shravanshetty1 opened #44 "'blobbercore/scripts/generate-grpc.sh' should not depend on execution path"
Currently grpc generate script relies on user being in the correct working dir i.e blobbercore. We need to alter the script so it can be used from any working dir.

[2021-03-30 07:50] shravanshetty1 opened #45 "Add developer documentation on how to interact with and update grpc api"

[2021-03-30 08:06] shravanshetty1 opened #46 "Generate GRPC gateway docs from openapi"

[2021-03-30 08:06] #41 closed

[2021-03-30 08:08] shravanshetty1 opened #47 "GRPC documentation using protoc-gen-doc"
https://github.com/pseudomuto/protoc-gen-doc

[2021-03-30 19:49] stewartie4 opened #48 "Security issue: File lists can be queried and collaborators added without authentication"
Querying file and allocation metadata eg.
/v1/file/referencepath/
and
/v1/file/meta/
Requires no authentication other than the wallet Id and public key.

This may be a potential security problem as anyone can view which files are stored in an allocation and individual file metadata as long as they have that wallet's public key and id, all of which are readily available on the public transaction pa

[2021-03-30 21:34] stewartie4 commented on #48
If someone can assign me to this I can start looking at it tomorrow/before the weekend

[2021-03-31 04:54] shravanshetty1 opened #49 "Add setup code to migrate endpoints to grpc"

[2021-03-31 04:55] shravanshetty1 commented on #49
https://github.com/0chain/blobber/pull/39

[2021-03-31 15:09] shravanshetty1 opened #52 "Migrating "/v1/file/meta/{allocation}" endpoint to grpc"

[2021-04-01 06:27] shravanshetty1 opened #56 "Migrating "/v1/file/stats/{allocation}" to grpc"

[2021-04-01 08:24] shravanshetty1 opened #57 "Migrating "/v1/file/list/{allocation}" to grpc"

[2021-04-01 08:25] shravanshetty1 opened #58 "Migrating "/v1/file/objectpath/{allocation}" to grpc"

[2021-04-03 17:30] #31 closed

[2021-04-03 17:31] Sriep commented on #31
Merged https://github.com/0chain/blobber/pull/50 so closing issue

[2021-04-05 00:13] stewartie4 commented on #48
Added the following endpoints to the scope of this issue:
/v1/file/objectpath
/v1/file/referencepath/list
/v1/file/stats
/v1/file/objecttree
/v1/file/collaborator **(This makes additional exploits possible, testing in progress)**
/v1/file/rename (however operation has to be committed which requires a signature)
/v1/file/copy (however operation has to be committed which requires a signature)
/v1/fi

[2021-04-05 13:18] Sriep opened #64 "Have CI auto generating protoc-gen-go-grpc code."
PR https://github.com/0chain/blobber/pull/39 PR https://github.com/0chain/blobber/pull/51 PR https://github.com/0chain/blobber/pull/53 PR  https://github.com/0chain/blobber/pull/55 PR https://github.com/0chain/blobber/pull/59 and PR https://github.com/0chain/blobber/pull/60 involve `protoc-gen-go-grpc` auto-generated tiles.

Auto generating these files should be the job of the CI process, not indi

[2021-04-05 13:43] Sriep commented on #64
I recommend adding a `.github/workflow` action on merging.

* Remove existing GRPS files.
* Auto generate the GRPC files
* Check the newly generated GRPC files into the pull request branch to be merged
* Run error check tests on the pull request branch.

[2021-04-05 14:07] MurashovVen commented on #48
Sounds like a good idea.
I can implement this decision.

[2021-04-06 09:39] stewartie4 commented on #48
@guruhubb Does the above addition of a new X-App-Client-Signature header seem like an OK strategy?
Frankly I don't see the point of the X-Client-App-Id and  X-Client-App-Key headers on these endpoints once we have a signature to secure them for the owner and an auth ticket for everyone else. Could they be removed?

@MurashovVen I found another minor bug in /v1/file/referencepath where X-Client-App

[2021-04-08 08:52] shravanshetty1 opened #67 "[Question] Is it really worth it to write unit tests at the moment for grpc endpoints?"
For us to unit test everything, we will have to write test code equal or slightly more than the amount of production code. This code has to be maintained as the underlying code base changes and is also time consuming to write.

Meanwhile with end to end/integration testing we can get much higher efficiency. For nearly 100 lines of testcode we could expect 10000 lines of production code to be teste

[2021-04-08 09:06] shravanshetty1 opened #68 "Point all old http endpoint handlers to new grpc endpoint handler"
Currently the http endpoint is calling different handler than the grpc handlers.

Since http endpoints are being used currently, any features and bugs changes are being made to the http endpoint handler and not the grpc handler.

We can fix this by calling grpc handlers from http handlers.

[2021-04-08 10:55] shravanshetty1 opened #70 "Migrating "/v1/file/referencepath/{allocation}" to grpc"

[2021-04-08 12:52] Sriep commented on #67
By auto running unit tests as part of CI, they stop regressions. If any modification breaks a method with unit tests then the unit tests should break, alerting the world to the problem. End to end tests, while necessary, are not as fine-tuned to each function they pass through.

End to end testing will always touch more code than unit tests. A unit test just focuses on one method, confirming its i

[2021-04-08 13:28] #49 closed

[2021-04-08 13:58] #64 closed

[2021-04-09 08:33] #67 closed

[2021-04-12 17:45] andrenerd commented on #30
@shravanshetty1
Let me to clarify: to timeout "incoming" requests to Blobber or "outcoming" requests from Blobber to Sharders or other services?

If Blobber timeouts "incoming" requests, should this "timeout" rule be applied to all the request handlers? or specific ones?:
https://github.com/0chain/blobber/blob/master/code/go/0chain.net/blobbercore/handler/handler.go#L30

PS. I guess, there is an e

[2021-04-13 02:18] shravanshetty1 commented on #30
Yes, it should be for all handlers not just one. This should be a grpc middleware for the new api.

[2021-04-13 13:26] shravanshetty1 commented on #30
@andrenerd all the grpc issues are low prio, make sure @guruhubb knows your working on this. There maybe other issues that are in prio right now.

[2021-04-13 13:34] shravanshetty1 opened #71 "Add github action that checks if project builds properly in local/dev/prod environments"

[2021-04-13 13:38] shravanshetty1 opened #72 "Blobber build failing in prod"
[code]

[2021-04-15 05:38] shravanshetty1 opened #74 "Migrating "/v1/file/objecttree/{allocation}" to grpc"

[2021-04-15 13:02] Sriep opened #76 "Unit test check on pull request"
There should be a unit test check on pull requests, similar to 0chain PR https://github.com/0chain/0chain/pull/135.

[2021-04-15 13:02] Sriep commented on #76
Started in PR https://github.com/0chain/blobber/pulls

[2021-04-15 15:59] sculptex opened #77 "blobber config should allow differing configs for each blobber"
currently, clobbercore/config/config.go loads settings from config/0chain_blobber.yaml for all blobbers. There are various circumstances where different configs may wish to be used for different blobbers in same machine. There needs to be a consistent way to do this rather than just change config each time prior to starting blobber.

One idea is if blobber number N is known (or can be specified by

[2021-04-16 03:29] andrenerd commented on #30
@shravanshetty1
There is a question: should it be an interceptor or we can just set timeouts in the config?

In case of config, here is a timeout param per method (in seconds):
[code]

In case of an interceptor, here is a snippet:
[code]

NB.  I guess there is no need to rollback anything when deadline is overdue and DEADLINE_EXCEEDED error returned, as your "unaryDatabaseTransactionInjector" inte

[2021-04-16 04:12] shravanshetty1 commented on #30
Its your call but, the interceptor looks better to me.

Also, yes there should be no reason to rollback since there is another middleware that does that.

[2021-04-16 10:53] #72 closed

[2021-04-17 03:39] andrenerd commented on #34
Added extra "calls" to temporarily unavailable sharders (if 503/504 error is returned).

The resulting error message and status are not changed. I guess there is no reason to change them. If shader(s) doesn't reply after several attempts, it should be assumed to be "failed" and all the further actions, including error reporting, are legit.

PR #79

[2021-04-18 00:12] guruhubb commented on #77
You can override defaults using ./zbox bl-update for individual blobber settings and can write a script for such. But in general, you want one blobber per server instead of multiple blobbers per server. However for a large server, you can use 0miner to spin up multiple blobbers and then use the rancher to change settings for each blobber. The only thing the blobber will need to change is capacity

[2021-04-18 06:54] sculptex commented on #77
Multiple blobbers per server (one blobber per physical HDD) is the only way to achieve optimum $/TB. A single blobber spanning multiple disks increases risk of failure unless raid is used which increases costs plus wear and tear. Also multiple blobbers allows varying size disks/types to be used (e.g. premium SSD + HDD). I will close this because zbox bl-update option is available but still think i

[2021-04-18 06:54] #77 closed

[2021-04-18 11:26] Sriep opened #81 "Mock out gorm.DB to allow blobber unit tests"
Currently it's not easy to write unit tests as blbber uses a raw gorm.DB in the code. It is generally bad to use active databases in unit tests, they should be mocked out. However, the way the blobber is written this is difficult to impossible.

The gorm.DB should be wrapped in an interface to make it easer to mock.

[2021-04-18 13:33] shravanshetty1 opened #83 "Database object should check the context deadline before making db calls"

[2021-04-18 14:21] shravanshetty1 opened #84 "Add lint check github action"
Most of the code has been linted. Add linter check again and resolve any remaing linter errors

[2021-04-19 02:22] shravanshetty1 opened #85 "Migrating object info related api's to grpc"

[2021-04-19 02:22] #74 closed

[2021-04-19 02:22] #70 closed

[2021-04-19 02:22] #58 closed

[2021-04-19 02:22] #57 closed

[2021-04-19 02:22] #56 closed

[2021-04-19 02:22] #52 closed

[2021-04-19 02:23] shravanshetty1 commented on #68
This wont be possible, since some of the objects cannot be reliably converted without causing problems.

[2021-04-19 14:14] #30 closed

[2021-04-19 14:19] #34 closed

[2021-04-19 15:44] #85 closed

[2021-04-20 03:35] shravanshetty1 opened #88 "Add integration tests for grpc api's"

[2021-04-20 03:35] #42 closed

[2021-04-20 20:17] Shivam010 opened #89 "Redundant use of `RequestContext` in all methods in Blobber service"
I think there is no need of using a separate `RequestContext` field in all the requests. We can easily allow certain headers using `ServeMuxOptions` and get them in the request context.

Ref: https://github.com/0chain/blobber/blob/master/code/go/0chain.net/blobbercore/blobbergrpc/proto/blobber.proto#L48

[2021-04-20 20:24] Shivam010 commented on #89
@shravanshetty1 @Sriep
I have made the corresponding changes for `GetAllocation` and `GetFileMetaData` for review so that I can change all methods.

[2021-04-21 10:06] Sriep commented on #81
https://github.com/0chain/blobber/pull/87

[2021-04-21 10:06] #81 closed

[2021-04-23 10:01] #44 closed

[2021-04-23 10:20] #45 closed

[2021-04-25 10:32] Sriep opened #93 "Blobber filter out expired challenges."
The blobber should not waste time trying to resolve expired challenges. Filter out the expired challenges from the challenges sent by the 0chain `/openchallenges` call.

[2021-04-25 10:34] Sriep commented on #93
Update FindChallenge in worker.go. The filtering can be added to the [code following the API call](https://github.com/0chain/blobber/blob/master/code/go/0chain.net/blobbercore/challenge/worker.go#L204).

Write a unit test to confirm the filtering is working ok.

[2021-04-27 12:50] #40 closed

[2021-04-30 01:29] andrenerd opened #94 "How much available capacity is allocated"
We need blobbers to display (in their _stats) and blobber-info to state how much available capacity is allocated

[2021-04-30 16:07] shravanshetty1 opened #95 "Single `go.mod` file for project"
https://github.com/0chain/0chain/issues/141

Currently due to multiple go.mod files, the blobber repo cannot be imported to other repo's easily. This is blocking grpc integration.

[2021-04-30 23:21] andrenerd opened #97 "How much is staked on the blobber"
We need blobbers to report how much is staked on the blobber.

[2021-05-01 02:02] andrenerd commented on #93
@Sriep
How to determine if a challenge is expired or not? Looks like there is no timestamp or status field to be based on.

[2021-05-01 18:53] Sriep opened #98 "Pull request test always gives false positive"
The [pull request test](https://github.com/0chain/blobber/blob/master/.github/workflows/ci.yml#L13) always passes, irrespective of unit test results. This needs to be fixed so that the pull requests test check passes or fails depending on unit tests results.

[Example of passing check with failed unit tests](https://github.com/0chain/blobber/runs/2419289779)

[2021-05-01 19:06] Sriep opened #99 "Fix broken unit test"
`grpc_handler_test.go` has syntax error.

[code]

[2021-05-01 22:07] stewartie4 opened #100 "/v1/file/upload: Add validation to uploadMeta/updateMeta objects"
On an upload request to a blobber, there is currently only a presence check on the uploadMeta object; none of the contents of uploadMeta is validated.
This leads to hard to debug issues on subsequent commit requests:

- If actual_size and/or actual_hash is not present in uploadMeta on upload then the subsequent /v1/connection/commit call will always fail with an invalid write marker as the hash wi

[2021-05-02 12:35] #99 closed

[2021-05-02 19:56] andrenerd opened #103 "Geo location data"
Allow geo location data to be part of miner, sharder, blobber config and added to smart contracts minersc and storagesc (edited)

[2021-05-02 22:37] andrenerd opened #105 "PayeerID: clarify"
blobber, payerID for read pool similar to payerID for write pool

[2021-05-02 22:37] andrenerd opened #119 "Clientpool for multiple allocations and read/write operations"
blobber, payerID for read pool similar to payerID for write pool

[2021-05-02 22:39] andrenerd commented on #105
@Sriep
Could you clarify the issue.
The description is as how it was passed to me.

[2021-05-03 04:15] andrenerd commented on #100
@stewartie4 please, review:
https://github.com/0chain/blobber/pull/106

[2021-05-03 13:58] Sriep commented on #76
Move to https://github.com/0chain/blobber/issues/98

[2021-05-03 13:58] #76 closed

[2021-05-03 14:08] Sriep commented on #38
We need to use something like https://github.com/0chain/0chain/pull/184 to add a GitHub action
to pull request, that fails if the pull increases lint errors.

If you want to run `golangci-lint` locally, you need to install it locally. I don't think there is any expectation of `make lint` working if the prerequisites are not present.  If that's confusing people may be an explanation and a link to [

[2021-05-04 00:29] andrenerd commented on #105
Saswata: can payerID pay for both writes and reads for the owner of the allocation?  This is an example where the app platform (e.g. 0Box) pays on behalf of the user

[2021-05-04 01:54] #100 closed

[2021-05-04 03:27] haule24hdev opened #107 "File Info, field on_cloud is False even though it has been committed"
![Screenshot from 2021-05-04 10-14-54](https://user-images.githubusercontent.com/50743635/116957945-533c6800-acc3-11eb-8a71-1c82ab1cd237.png)
![Screenshot from 2021-05-04 10-14-11](https://user-images.githubusercontent.com/50743635/116957953-57688580-acc3-11eb-9a90-df938c59b3da.png)
![Screenshot from 2021-05-04 10-13-58](https://user-images.githubusercontent.com/50743635/116957960-5b94a300-acc3-11

[2021-05-04 03:31] haule24hdev commented on #107
@andrenerd check help me. I can't assign for you from require of @guruhubb

[2021-05-04 10:16] MurashovVen opened #108 "Removing reduant X-Client-App-Id and X-Client-App-Key headers."
Now, X-Client-App-Id and X-Client-App-Key are redundant after merging [PR 66](https://github.com/0chain/blobber/pull/66).
We can decide what we gonna do with it.

[2021-05-04 10:19] MurashovVen commented on #108
Also, this feature was mentioned [there](https://github.com/0chain/blobber/issues/48).

[2021-05-04 10:22] #48 closed

[2021-05-04 10:34] stewartie4 commented on #108
I agree, the signature identifies the user now.
The only case I can think of is the consumer of an auth ticket - is a signature used in those cases too?
If so then I don't see what purpose these serve now

[2021-05-04 23:41] #94 closed

[2021-05-06 01:58] guruhubb commented on #105
Can you make payerID a pool where multiple people can put tokens to pay for read/writes to the allocation.

[2021-05-06 10:45] Sriep commented on #103
Part of https://github.com/0chain/0chain/issues/238

[2021-05-07 02:24] cnlangzi opened #111 "Resume upload with chunk size"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [x] Feature or performance improvement

___
### Question

___
### Bug

___
### Requirement or improvement
It is frustrating for a user to upload a large file(eg. video) in single request if there is is loss of connectivity or change of connections

[2021-05-07 07:27] haule24hdev opened #112 "CORS with domain 0box.io"
![Screenshot from 2021-05-07 14-23-35](https://user-images.githubusercontent.com/50743635/117413545-4ed0b300-af40-11eb-8192-c7165c77cb53.png)

[2021-05-07 07:27] haule24hdev commented on #112
@andrenerd

[2021-05-07 19:23] #95 closed, assigned to shravanshetty1

[2021-05-07 22:58] guruhubb commented on #111
We could potentially use it, but is it an overkill and inefficient for what we want to do with sequenced upload stream?  We just need to add a sequence number like we do for downloads to the client. On the blobber side we need to acknowledge the sequence.

[2021-05-07 23:50] cnlangzi commented on #111
It is implemented based on customer header `Upload-Length` and `Upload-Offset` . it should be liked a sequence https://tus.io/protocols/resumable-upload.html#statusurl . It seems be more flexible.

[2021-05-08 00:02] guruhubb commented on #111
ok sure go ahead

[2021-05-08 00:16] guruhubb commented on #105
A context behind this is that NFTs need permanent storage, especially when transferring ownership. To ensure continuity we need to allow multiple payer pool to pay for the allocation read and write pools. Each allocation has a corresponding read and write pool, and a single payerID. We need to change the single payerID into a payer pool (similar to delegate pool that we currently have), where mult

[2021-05-08 01:22] cnlangzi commented on #111
@guruhubb  I will double check, and find a workaround that should be backwards compatible for current gosdk/zboxcli

[2021-05-08 06:20] shravanshetty1 commented on #98
Other github actions are also not failing on bad exit codes, have not seemed to figure out issue so far

[2021-05-08 15:11] shravanshetty1 commented on #71
https://dev.to/dtinth/caching-docker-builds-in-github-actions-which-approach-is-the-fastest-a-research-18ei

Reference for caching docker builds in github action

[2021-05-08 15:23] shravanshetty1 commented on #71
https://github.com/dtinth/github-actions-docker-layer-caching-poc/blob/master/.github/workflows/dockerimage.yml

Reference to use github package registry

[2021-05-08 18:33] shravanshetty1 opened #118 "Speed up build github action using github package repository"

[2021-05-09 11:11] #84 closed

[2021-05-09 11:21] shravanshetty1 commented on #98
@Sriep Since we merged all the go.mod file, this issue has been resolved. This issue was being created since, previous code to run tests was this -

[code]

The problem with this code is that the exit code returned will be that of the last command run. This means that if a test fails for packages and passes for the last package. It will return exit code 0, since the last package test passed.

[2021-05-09 11:21] #98 closed

[2021-05-09 11:23] shravanshetty1 commented on #118
https://dev.to/dtinth/caching-docker-builds-in-github-actions-which-approach-is-the-fastest-a-research-18ei

[2021-05-09 11:33] shravanshetty1 commented on #38
Lint errors have been resolved with https://github.com/0chain/blobber/issues/84

[2021-05-09 11:33] #38 closed

[2021-05-09 11:40] #71 closed

[2021-05-09 11:43] shravanshetty1 opened #121 "Move go.mod to root directory"

[2021-05-09 16:58] guruhubb commented on #119
@andrenerd @moldis we need to change the write/read pool into a single pool for simplicity and allow multiple payers to lock tokens. Need changes in storagesc, blobber, gosdk, and zboxcli. We also need to fold in the network locking tokens for free storage for user when they receive a freeStorage transaction as one of the payer for the pool.

[2021-05-09 22:06] andrenerd commented on #119
@guruhubb
could we spin off "read and write pools merging" discussion into a separate issue if appropriate?
and probably to start with it after payerID related changes. otherwise, imho, it could be messy.

[2021-05-09 22:58] guruhubb commented on #119
Lets have a call on Slack with Artem to discuss this. Look at the delegate pool model setup for blobber. The payerID is legacy code (2018) which we need to move to delegate pool type architecture.  The read/write pools are both tied to allocation and blobbers, which remains as is, except there is one pool.

[2021-05-10 08:03] shravanshetty1 opened #122 "Add encryption to grpc communication"
Add TLS communication to our grpc client-server, gRPC has SSL/TLS integration and promotes the use of SSL/TLS to authenticate the server, and to encrypt all the data exchanged between the client and the server.

### Problem
 By default DialOption{grpc.WithInsecure()} is used in example (point 6). As mention in docs you just need to replace [WithInsecure](https://pkg.go.dev/google.golang.org/grpc?u

[2021-05-10 08:48] shravanshetty1 opened #123 "Add grpc server reflection"

[2021-05-11 03:59] shravanshetty1 opened #126 "Add developer documentation for grpc"

[2021-05-12 02:47] andrenerd commented on #107
@haule24hdev
It's needed to reproduce the issue and to collect logged output. Please, repeat all the necessary steps for new file and share the logger output here. Probably it could be done with `zbox` command line tool. It lets to display logger output with "--verbose" flag.

The output should contain at least one of the "strings":
[code]

Please, share the output here.
If there is no one of the

[2021-05-12 06:39] anish-squareops opened #127 "Script to monitor used capacity for blobbers."

[2021-05-12 07:20] guruhubb commented on #127
@moldis the issue with five was the capacity was fully used or allocated. You can look up the stats at https://five.devnet-0chain.net/miner01/v1/screst/6dba10422e368813802877a85039d3985d96760ed844092319743fb3a76712d7/getblobbers Pls make changes to the code to correct typo and reflect the proper stats, and add a script for blobber to lock tokens and update capacity size:
a) change `used` to `alloc

[2021-05-12 09:49] shravanshetty1 commented on #123
Useful for testing

[2021-05-12 17:15] shravanshetty1 commented on #123
https://github.com/grpc/grpc-go/blob/master/Documentation/server-reflection-tutorial.md

[2021-05-13 17:55] Sriep commented on #93
The expieration is in 0cahin_blobber.yaml.challenge_completion_time. If `Created` plus `challenge_completion_time` has passed then the challenge can be filtered out.

[2021-05-14 06:16] andrenerd commented on #93
@Sriep
updated. please, review the pr:
https://github.com/0chain/blobber/pull/125

[2021-05-14 12:25] shravanshetty1 opened #129 "Add client signature in grpc request context"

[2021-05-16 12:44] shravanshetty1 opened #131 "Reduce workflow run time"
Github allows for free 2000mins/month

Build tests can take upto - 5 mins to run no cache - https://github.com/0chain/blobber/runs/2538706674
We must optimise this.

Related to - https://github.com/0chain/blobber/issues/118

[2021-05-16 12:49] shravanshetty1 commented on #131
We could also consider merging some of the actions - majority of the time is spent on creating the environment. The environment can is similar for all the actions.

[2021-05-17 03:27] shravanshetty1 opened #133 "[Discussion] New package structure for project"
Any suggestions regarding package structure changes should be made here and should be handled in a seperate issue

@Sriep
We can come to consensus about package structure changes here -

I agree with the above suggestions.

Would like to add that we should move all 'main' packages in `cmd` directory. We should also review and remove unneeded packages such as `docker.aws` probably rename `docker.lo

[2021-05-17 03:27] shravanshetty1 commented on #121
We should continue discussion about package structure changes in - https://github.com/0chain/blobber/issues/133

[2021-05-17 04:37] guruhubb commented on #133
We can take out docker.aws but keep everything as is since we use them and can take up package restructure after mainnet or as the last item

[2021-05-17 07:36] shravanshetty1 opened #134 "Add server side compression for grpc requests"
refer - https://github.com/grpc/grpc-go/blob/master/Documentation/compression.md

[2021-05-17 07:41] shravanshetty1 commented on #122
https://github.com/grpc/grpc-go/blob/master/Documentation/grpc-auth-support.md

[2021-05-17 10:12] shravanshetty1 commented on #89
for reference - https://github.com/grpc/grpc-go/blob/master/Documentation/grpc-metadata.md

[2021-05-17 11:57] #110 closed

[2021-05-17 12:45] #93 closed

[2021-05-18 12:34] senpathi opened #137 "Adding grpc equivalent of "/v1/file/attributes/{allocation}""
Migrate "/v1/file/attributes/{allocation}" UpdateAttributesHandler to GRPC

[2021-05-20 10:49] shravanshetty1 opened #139 "Move code/go/0chain.net/blobbercore/scripts -> scripts"
related to #133 and #44

[2021-05-20 17:28] shravanshetty1 commented on #126
* Add relevant reference docs - https://github.com/grpc/grpc-go/tree/master/Documentation, https://grpc.io/docs/languages/go/basics/
* Uses mockery to generate mocks for unit tests

[2021-05-20 20:28] #123 closed

[2021-05-20 20:28] #129 closed

[2021-05-20 20:28] #121 closed

[2021-05-20 20:28] #68 closed

[2021-05-21 01:05] mallochine opened #142 "document how to run unit tests in the README"

[2021-05-22 08:22] shravanshetty1 opened #143 "Refactor code to remove circular dependency issue"
gosdk will need to import blobbercore/handler to integrate grpc - however this is causing circular dependencies. Refactoring code to handle this

[2021-05-22 08:40] #143 closed

[2021-05-22 16:10] cnlangzi opened #145 "[FEATURE] Added mock servers for 0dns, sharders and miners"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [x] Requirement
- [ ] Feature or performance improvement

___
### Question

___
### Bug

___
### Requirement or improvement
it is unnecessary to run in real blockchain network for blobber development. Because it is low efficient ,unstable and difficult in  local/dev

[2021-05-22 18:15] #139 closed

[2021-05-22 18:15] #89 closed

[2021-05-23 06:31] #88 closed

[2021-05-23 06:34] shravanshetty1 commented on #126
* Add installation documentation
* Add reference to grpc developer docs from main docs

[2021-05-23 12:40] shravanshetty1 opened #147 "Adding grpc equivalent of "/v1/connection/commit/{allocation}""
@senpathi

[2021-05-23 12:42] shravanshetty1 opened #148 "Incorrect grpc gateway endpoints"
Some endpoints that are actually POST are accepting GET requests

[2021-05-23 12:46] #131 closed

[2021-05-23 12:58] shravanshetty1 opened #149 "GRPC refactor"
Add any grpc related refactor suggestions to this issue as a comment, they will be handled all together once grpc has successfully been added to the current blobber code.

* remove all non handler related code out of the `blobbercore/handler` package
* remove dead handler code
* split integration tests to multiple files
* rename blobbergrpc package to blobberGRPC package

[2021-05-23 13:04] shravanshetty1 commented on #149
* https://developers.google.com/protocol-buffers/docs/style#message_and_field_names - reformat proto file with appropriate naming convention

[2021-05-23 13:29] shravanshetty1 commented on #149
* refactor 'SetupHandlers' function in blobbercore/handler/handler.go - use middlewares instead of adding wrapper to every handler

[2021-05-23 13:58] shravanshetty1 commented on #81
@Sriep What do you think about creating a store layer module.

This will make it easy to swap out underlying database at any time as long as the store interface has been implemented by the new database.
This will make it even easier to test as adding sqlmock is tedious.

[2021-05-23 16:16] shravanshetty1 opened #151 "[FEATURE] Add test coverage tracker"
https://github.com/codecov/codecov-action
Will have to do some research

[2021-05-23 22:03] stewartie4 commented on #151
Sonarqube is also an option which also integrates well with lint ￼and GitHub to prevent merges of code with low coverage

https://www.sonarqube.org

[2021-05-24 06:48] shravanshetty1 commented on #151
![Screenshot from 2021-05-24 12-16-44](https://user-images.githubusercontent.com/58299697/119307923-02001280-bc8a-11eb-8df9-6e2d44c93a25.png)
This should be added in the main README.
A tracker should also exist when PR's are being sent in

[2021-05-24 06:49] cnlangzi commented on #151
add /.github/workflows/test.yml

[code]

and it can be shown by
[![codecov](https://codecov.io/gh/0chain/blobber/branch/main/graph/badge.svg)](https://codecov.io/gh/0chain/blobber)

[2021-05-24 06:50] cnlangzi commented on #151
@guruhubb You need to register ochain/blobber on https://codecov.io/ first.

[2021-05-24 07:05] cnlangzi commented on #151
if it's ok. I will add this action quickly.

[2021-05-24 07:08] guruhubb commented on #151
@cnlangzi go ahead.

[2021-05-24 07:29] shravanshetty1 commented on #145
I think the real issue is that creating local blockchain environment is complicated - creating mock server is just a solution to this problem.

I think it would just be easier to simplify the creation of local blockchain environment.

We can drastically simplify the environment setup by switching from docker-compose to kubernetes. Kubernetes cluster can be run locally using https://kind.sigs.k8s.i

[2021-05-24 07:33] guruhubb commented on #145
we already have k8s and use it for various automation, but k8 is bad for development. None of our core developers use it. Our blockchain repo is fairly easy to set up, just takes a bit of time first time around. But Dayi's point is different.

[2021-05-24 07:56] cnlangzi commented on #145
I am newbie on 0chain. I know docker as well.

But it is frustrating for me to setup local development environment. Because I don't know 0chain blockchain very well.

I was struggling to setup local one. It can't be fixed after I read all documents and shell scripts in repos. I have to read code for everything.  BTW: our document and shell scripts are not up to date :(

It was a small issue about

[2021-05-26 06:39] senpathi opened #153 "Adding grpc equivalent of "/v1/file/copy/{allocation}""
Migrate "/v1/file/copy/{allocation}" CopyHandler to GRPC

[2021-05-26 08:48] senpathi opened #156 "Adding grpc equivalent of "/v1/file/rename/{allocation}""
Migrate "/v1/file/rename/{allocation}" RenameHandler to GRPC

[2021-05-26 09:26] senpathi opened #158 "Adding grpc equivalent of "/v1/file/download/{allocation}""
Migrate "/v1/file/download/{allocation}" DownloadHandler to GRPC

[2021-05-26 10:54] vivekv96 opened #159 "Adding grpc equivalent of "/v1/file/attributes/{allocation}""
Migrate `/v1/file/attributes/{allocation}` UpdateAttributesHandler to GRPC

[2021-05-26 11:21] #159 closed

[2021-05-27 03:20] andrenerd opened #161 "Upgrade allocation payer-based logic"
Cleanup and extend logic related to Allocation.PayerID field. Don't mess it with Read/WriteMarker.PayerID, they have different "nature".
The changes supposed to be used to implement freeStorage feature later too.

List of possible changes:
- Drop some legacy Allocation.PayerID-linked logic, that was used by "Repair" features that were completely removed.
https://github.com/0chain/blobber/commit/31

[2021-05-27 04:47] vivekv96 opened #163 "Adding gRPC equivalent of "/v1/file/commitmetatxn/{allocation}""
Migrate `/v1/file/commitmetatxn/{allocation}` **CommitMetaTxnHandler** to gRPC.

[2021-05-27 04:48] vivekv96 opened #164 "Adding gRPC equivalent of "/v1/file/collaborator/{allocation}""
Migrate `/v1/file/collaborator/{allocation}` **CollaboratorHandler** to gRPC

[2021-05-27 04:49] vivekv96 opened #165 "Adding gRPC equivalent of "/v1/file/calculatehash/{allocation}""
Migrate `/v1/file/calculatehash/{allocation}` **CalculateHashHandler** to gRPC.

[2021-05-27 21:08] shravanshetty1 commented on #126
Point to developer docs from main readme

[2021-05-28 01:13] andrenerd commented on #161
Notes for the future:
- former "misused" PayerID moved to RepairerID.
- RepairerID is used for access checking and has nothing with payments or PayerID.
- RepairerID has been used to store value for (blobber?) node id. It's not client id. Don't be confused by the legacy code.

[2021-05-28 14:01] senpathi opened #169 "Adding grpc equivalent of "/v1/file/upload/{allocation}""
Migrate "/v1/file/upload/{allocation}" **UploadHandler** to GRPC

[2021-05-29 08:00] shravanshetty1 commented on #149
* storageHandler and packageHandler interfaces can be combined to one interface for mocking

[2021-05-29 13:07] shravanshetty1 opened #170 "Add debugger to blobber in docker container"
https://github.com/0chain/0chain/pull/107

We should easily be able to debug blobber inside docker

[2021-05-29 13:15] shravanshetty1 opened #171 "Create a store interface"
Advantages -
Faster test case development time
Easily swap out database
Increased test coverage

[2021-05-30 18:42] #170 closed

[2021-05-31 01:16] andrenerd opened #174 "CICD Specify the integrity checks for generated files"
There is a check that fails when it shouldn't:
[code]
https://github.com/0chain/blobber/blob/master/.github/workflows/ci.yml#L83

This check fails even when the files are good. Just generated by different `protoc` versions on the local and github sides. The version is pointed in the comment in one of the generated files:
[code]
https://github.com/0chain/blobber/blob/master/code/go/0chain.net/blobb

[2021-05-31 13:11] #126 closed

[2021-05-31 13:40] #147 closed

[2021-05-31 13:41] #165 closed

[2021-05-31 15:46] shravanshetty1 opened #176 "Generate mocks for blobber client to be used by client tests"

[2021-05-31 16:50] andrenerd commented on #97
There is an endpoint already returning such details:
https://github.com/0chain/0chain/blob/9050671d41cd5ff325bc8ec8738dd4d53a24b7f7/code/go/0chain.net/smartcontract/storagesc/sc.go#L98

Closing the issue.
It could be reopened, if the endpoint should be extended/changed should be provided.

[2021-05-31 16:50] #97 closed

[2021-06-01 08:46] shravanshetty1 opened #177 "Add debugger documentation"
https://github.com/0chain/blobber/issues/170 - add documentation for this

[2021-06-01 11:06] mallochine opened #178 "increase sql table owner_public_key from varchar(256) to 512"
The MIRACL public key format has 258 characters  (example: 0420ec9dd58f2d16babe5eddd0990472ef7f05fd707e3a4171e61ba9360fe4a3891d9bcf8a86b0b270d104c1a2a093f744d27793927910b38be9883ec0b06ca3490569516d05cfdfb66f64ac13681905ec639930dc66ae889944d4a0e3fbf249fc0d52adb860e55487251acbd90e8f1b5563e71e67af1e110ce986ff41df34a7ed)

very sadly, this 258 string is just 2 character more than the 256 limit.

The er

[2021-06-01 11:55] shravanshetty1 commented on #149
* figure out a new location for openapi spec, since current path does not match

[2021-06-02 11:03] shravanshetty1 opened #181 "Add .proto file linter and formatter"

[2021-06-02 11:03] shravanshetty1 commented on #181
Requires research

[2021-06-02 12:13] anish-squareops opened #182 "Failed during registering blobber to the mining network, it's duplicated"
[code]

[2021-06-02 18:02] #182 closed

[2021-06-02 21:40] #178 closed

[2021-06-03 06:29] #163 closed

[2021-06-03 15:15] shravanshetty1 opened #187 "Auto generate .proto and mock files like 0chain/0chain repo"

[2021-06-03 15:16] shravanshetty1 commented on #174
We can probably remove integrity checks all together by generating file like in 0chain repo - https://github.com/0chain/blobber/issues/187

[2021-06-04 11:02] shravanshetty1 opened #188 "GRPC build arguement should not be mandatory"
If grpc port is not provided the program should not terminate. Instead it should just start the http server and ignore the grpc server.

[2021-06-05 17:49] #164 closed

[2021-06-05 22:44] guruhubb commented on #107
@andrenerd you can do this locally and with explorer code - may be faster than asking Hau.

[2021-06-07 18:04] andrenerd commented on #119
Closing it, as the proposed enhancements were partly implemented by this issue/pr:
https://github.com/0chain/blobber/issues/161

And partly overlay with another more broad client pool implementation issue. Btw, I personally gravitate to the view that client pool itself is an excessive enhancement. Read/Write pools does it job well.

[2021-06-07 18:04] #119 closed

[2021-06-08 17:01] Sriep opened #195 "CI Pull request actions are allowing syntax errors though."
The unit test check does not work and always gives a false positive.

Both failed tests and production syntax errors are passing. There is nothing to stop syntax errors from being pushed to master.

https://github.com/0chain/blobber/pull/162/checks?check_run_id=2706936727
https://github.com/0chain/blobber/pull/104/checks?check_run_id=2760434861

Also similar to https://github.com/0chain/blobber/is

[2021-06-08 18:14] Sriep commented on #195
Ok I think Pr need to merge in latest changes.

[2021-06-08 18:14] #195 closed

[2021-06-08 22:18] mallochine opened #196 "Need to add "X-App-Client-Signature" to allowed cors header"
currently seeing issue where browser sends "X-App-Client-Signature" header but gets CORS error because this header is not allowed by blobber.

Reproduced with this:

[code]

[2021-06-08 22:38] mallochine opened #198 "Need to handle MIRACL signature"
as the wasm file sends a MIRACL signature in "X-App-Client-Signature" header, we need to convert this over to herumi signature.

[2021-06-08 23:56] mallochine commented on #196
resolved by PR #197 , merged into master

[2021-06-08 23:56] #196 closed

[2021-06-09 15:13] guruhubb commented on #161
@MurashovVen please comment on the repair flow, because you were working on the add/drop blobber and we need to make sure the changes do not affect your PR later.

[2021-06-09 23:48] #103 closed

[2021-06-10 00:11] #198 closed

[2021-06-11 02:14] cnlangzi opened #203 "contentref_cleaner should be removed?"
there seems is no any references in code.

Is it not implemented yet or should be removed?

https://github.com/0chain/blobber/blob/6d19ec51e7c41fa00132a24b639abda32f24c9e0/code/go/0chain.net/blobber/main.go#L54

[2021-06-11 07:41] cnlangzi commented on #145
It is not a good solution to debug blobber and validator in docker. Because we have to build and restart docker if any code is updated. It is too slow to do it. docker is best solution to deploy it anywhere. But it is easier to develop and debug on local binary. `./dev.local/cli.sh` is added for it. It includes
- install `blobber_postgres` as shared database for all blobbers and validators
- initi

[2021-06-11 07:44] cnlangzi commented on #145
It seems is linked to #170

[2021-06-14 10:34] moldis opened #208 "Seems even I shutdown blobber, I still can see it in ls-blobbers"
After deployed on my local env single blobber, I was able to fetch it in `zbox ls-blobbers`. But, after I shutdown I still can see it in `zbox ls-blobbers`.

[2021-06-14 14:32] cnlangzi commented on #208
it should be fixed on https://github.com/0chain/zboxcli/pull/40

[2021-06-14 15:18] moldis commented on #208
@cnlangzi Issue is in explorer also and as I know explorer not using zboxcli method

[2021-06-14 16:43] guruhubb commented on #203
It should be there. If we don't receive write markers, then after some time (configurable) we should be able to remove the content, otherwise it becomes a source of attack.

[2021-06-14 16:52] chauchausoup commented on #208
As I just tested in nine network explorer I could see filtered blobbers list as shown in the screenshot below.
Here `http://171.240.141.17:5051` blobber's last health check was more than hours ago so its is not shown or say filtered in the UI.
![Screenshot from 2021-06-14 22-34-37](https://user-images.githubusercontent.com/34975245/121929484-f96a9b80-cd60-11eb-9e1e-3d1dd3994b03.png)

[2021-06-15 02:47] cnlangzi opened #209 "New git flow with new CI/CD"
it is linked to https://github.com/0chain/gosdk/issues/107

[2021-06-15 03:47] andrenerd opened #210 "CICD / Linting / Error return value is not checked"
Is it possible to tweak linting rules slightly, to add an exception for goroutines to that rule:
"Error return value is not checked (errcheck)"

[2021-06-15 06:15] shravanshetty1 opened #211 "Point all grpc handlers to http handlers"
Since we are making grpc changes in the grpc branch. There can be changes in master branch while we are implementing grpc. We should point grpc handler to http handler, this will help us avoid writing tests and make sure that changes made in master branch are easily resolvable in grpc branch.

[2021-06-15 06:17] shravanshetty1 commented on #187
This causes issues while importing repo into another go project

[2021-06-15 15:09] #211 closed

[2021-06-16 03:08] shravanshetty1 commented on #149
* seperate responseHandlers and responseCreator functions into different files

[2021-06-18 15:45] MurashovVen commented on #161
I have not started the implementation of add/drop function, so there should be no conflicts here.

[2021-06-19 15:23] shravanshetty1 opened #216 "Add integration tests for some grpc endpoints"
Some of the grpc endpoints are missing integration tests, there is no way to verify if the api is causing breaking changes.

[2021-06-20 23:19] stewartie4 commented on #108
The X-Client-App-Id header itself may still be needed in order to identify collaborators, especially if collaborator support is added to the endpoints listed in https://github.com/0chain/blobber/pull/66
The presence and owner checks are redundant though as is the X-Client-App-Key

[2021-06-21 03:13] cnlangzi opened #218 "ERROR: duplicate key value violates unique constraint \"allocation_connections_pkey\""
Postgres blocks new connection when it was marked as `DeletedConnection` in workers (eg `CleanupTempFiles`).

it is caused by #219

[code]

https://github.com/0chain/blobber/blob/251c35483973b73da6284393e8cd1c681fb7134b/code/go/0chain.net/blobbercore/allocation/allocationchange.go#L110

[2021-06-21 03:29] cnlangzi opened #219 "gorm seems has a bug on time with timezone"
The connection can't be deleted.

We have two `timezone` now. One is postgres's , another is golang's.

In postgres, column may have a default value with `now()` (eg. allocation_connections.create_at). The timezone is set with `postgres` timezone.
In golang, we may upload some column with `time.Now()` (eg. allocation_connections.update_at). the timezone is set with `golang` timezone(it also is ser

[2021-06-21 06:48] cnlangzi opened #220 "blobber's url is not updated"
The blobber's url is changed when I move to a new network. But it is not fixed when blobber is restarted.

`./zbox ls-bobbers` still show old url, and not new blobber is registered.

BTW, it is on blockchain network.

current workaround is rebuild blockchain network from scratch.
- sharder
- miners
- blobbers
- ./zwallet faucet
- ./zbox sp_lock
- ./zbox newallocatin
- ./zbox rp_lock

And new blobb

[2021-06-21 13:53] shravanshetty1 commented on #149
* Commbine testdata controller methods into one method, should not be different test data for different tests

[2021-06-22 08:10] guruhubb commented on #220
@andrenerd does your recent changes take care of this?

[2021-06-22 08:10] guruhubb commented on #208
@andrenerd is this resolved with your recent update?

[2021-06-22 08:17] guruhubb commented on #161
I still don't have an answer for this yet. @Sriep can you construct a UML flow for read and write pools, and how multiple payers fit in.
a. Is the read pool associated with the user wallet?
b. For rx_pay do the blobbers get tokens from the receiver read pool?
c. Is the user only one that can lock tokens for their read pool or is it open to other folks?
d. If there are multiple pools, which tokens

[2021-06-23 03:34] cnlangzi opened #222 "Update `challenge` code for customized chunksize and new hash method"
The hash logic has been updated on https://github.com/0chain/zboxcli/issues/36 and https://github.com/0chain/zboxcli/issues/37 . so challenge code need to be updated too.

[2021-06-23 03:34] cnlangzi commented on #222
move it to https://github.com/0chain/blobber/issues/222

[2021-06-23 03:34] #222 closed

[2021-06-24 03:30] #161 closed

[2021-06-24 14:12] Sriep opened #224 "Add allocation immutable chcek for file upload, update, copy, move, delete and rename"
Add a check to ensure the allocation is not immutable to file upload, update, copy, move, delete and rename.

New functionality also requires 0chain change https://github.com/0chain/0chain/issues/374. gosdk  https://github.com/0chain/gosdk/issues/122 and zboxcli https://github.com/0chain/zboxcli/issues/52 changes are related.

[2021-06-24 17:54] andrenerd commented on #220
@guruhubb yes, they do.
let's check it again, when https://github.com/0chain/0chain/pull/361 and https://github.com/0chain/blobber/pull/215 are merged.

[2021-06-25 09:10] NoSkillGuy opened #226 "Blobber Postgres Container doesn't start/stop."
[code]

After stopping all the blobbers, all the Postgres containers remain running

[code]

**Environment Details**:
**_OS_**: macOS Big Sur
**_Docker Desktop_**: 3.3.3

**Tried these approaches to solve this problem**
1. manual docker stop, but gets timeout
[code]

2. Increased the timeout from 60 to 180 seconds. still gets timeout
[code]

3. Docker Desktop restart, since the docker socket conne

[2021-06-25 09:53] NoSkillGuy commented on #226
Now i am not able to start the container too. :(
[code]

[2021-06-25 10:20] cnlangzi commented on #226
Docker is stuck. You can fix it to restart docker engine

[2021-06-25 10:25] cnlangzi commented on #226
Docker is very easy to get stuck when sharder, miner and blobber are running at the same time. You can check ./dev.local/cli.sh on branch dayi/main. It help you to run blobbers outside docker

[2021-06-25 15:21] andrenerd commented on #161
a) sort of. read pool is associated with user and contains numerous (read) allocation pools. each one of them is "linked" to wallet (potentially, any). who (from whom wallet) "funded" an allocation pool doesn't matter too much. except the case when non used funds are "returned" (ie "released").

b) rx_pay: yes, they do. it's a possible implemented option. btw, auth token should be also provided fo

[2021-06-25 17:06] andrenerd commented on #219
Imho, we should stick to UTC only. So the first proposed approach to be implemented.

ps. as you have already tracked the issue down and proposed the solution, could you assigned the issue to yourself. thanks.

[2021-06-25 19:01] guruhubb commented on #161
Thanks @andrenerd. So a) unused tokens can be unlocked back to the payer.  @Sriep go ahead and have functions in gosdk/zboxcli to put tokens into an user's read pool and use the same mechanism as newallocation and payerID to lock tokens into user's write pool . Once done, I’ll let Artem know this so that he can have 0box server put tokens in read/write pool of any subscriber.  I assume that when t

[2021-06-25 23:43] cnlangzi commented on #219
@andrenerd OK. leave it with me. thanks.

[2021-06-26 07:15] NoSkillGuy commented on #226
@cnlangzi
I get this error!
[code]

[2021-06-26 07:23] NoSkillGuy commented on #226
when I ran again, i got port already in use
[code]

[2021-06-26 07:33] cnlangzi commented on #226
Docker rm -f=“name=blobber*” first. And restart docker engine

[2021-06-26 07:36] cnlangzi commented on #226
please use my branch code too. I have made some change on go for cli.

[2021-06-26 09:47] Sriep commented on #161
Continued in issue https://github.com/0chain/0chain/issues/379.

[2021-06-26 16:23] chauchausoup opened #227 "blobber_ur/v1/file/stats gives invalid signature"
blobber_ur/v1/file/stats gives invalid signature but on cli ./zbox stats works fine.
blobber_ur/v1/file/meta works fine.
It was originally raised here : https://github.com/0chain/block-explorer/issues/220

[2021-06-27 02:53] andrenerd commented on #208
@guruhubb nope, it's not related to the update.

essentially, there is no issue. the system continues to keep blobbers on the list, even if they don't send health check signals anymore, ie turned off or so.

so, seeing turned of blobbers is ok, according to the current implementation. surely the rules could be updated to filter them out or so. if it's not needed, the issues is supposed to be close

[2021-06-27 04:15] guruhubb commented on #208
@moldis add a health check filter for ls-blobber in gosdk and have an option `--all` to include non-active blobbers.

[2021-06-27 11:20] chauchausoup commented on #208
@guruhubb this should work.
https://github.com/0chain/zboxcli/pull/40

[2021-06-27 19:15] Kishan-Dhakan opened #228 "Add pagination to avoid Blobbers being unresponsive"
Problem:
The zboxcli uses commands like `list`, `list-all` and the other CLIs in progress like `s3` and `nfs` will also have list operations. There is currently no support for pagination, so the entire list is given as a respondse. This is fine if there are smaller number of files but we need to consider that an allocation can contain thousands of such files. For about 5 directories and 5 files th

[2021-06-28 15:04] #224 closed

[2021-06-29 12:27] cnlangzi opened #230 "[FEATURE] use database migrate tool instead of pure sql scripts"
it is better to migrate database with migrate tool than docker `postgres-post`.

- https://flywaydb.org/
- https://github.com/golang-migrate/migrate
- https://gorm.io/docs/migration.html
- https://github.com/go-gormigrate/gormigrate

And db should be migrated automatically on blobber startup.

[2021-06-29 14:43] cnlangzi commented on #230
if yes, should we implement it with `backward compatibility` ?

[2021-06-30 06:13] chauchausoup opened #231 "getblobbers should give https instead of http"
https://one.devnet-0chain.net/sharder01/v1/screst/:id/getblobbers
This req gives us such response at the moment:
[code]
where url field shows http based blobber.
If we get https based blobber here then it would be easier for local and prod environment for explorer.

[2021-06-30 06:17] NoSkillGuy opened #232 "Running blobber from docker ends up panicking"
[code]

[2021-06-30 06:18] cnlangzi commented on #231
The option should be here https://github.com/0chain/0dns/blob/f60e7c78d87a4f00c01f4ae4bda4a2678a783158/docker.local/config/0dns.yaml#L12

[2021-06-30 11:20] #169 closed

[2021-06-30 11:21] #158 closed

[2021-06-30 11:21] #156 closed

[2021-06-30 11:21] #153 closed

[2021-06-30 11:22] #176 closed

[2021-06-30 11:22] #137 closed

[2021-06-30 11:23] #46 closed

[2021-06-30 13:57] shravanshetty1 commented on #134
This has to be implemented on the client side as well opening issue -https://github.com/0chain/gosdk/issues/129

[2021-06-30 13:59] #134 closed

[2021-06-30 14:01] shravanshetty1 commented on #149
* All file names should be snake cased

[2021-06-30 14:13] #188 closed

[2021-06-30 14:51] NoSkillGuy commented on #232
After increasing docker resources! this error isn't coming! So closing this issue for now. will reopen this in case this occurs again.

[2021-06-30 14:51] #232 closed

[2021-06-30 16:58] shravanshetty1 opened #234 "Tests have insufficient permissions to create files in github action"

[2021-06-30 18:35] NoSkillGuy commented on #226
closing this issue for now! as it is working as expected now.

[2021-06-30 18:35] #226 closed

[2021-07-01 02:16] #216 closed

[2021-07-02 16:12] stewartie4 commented on #227
What method are you attempting to hit this endpoint with?
Directly?
Via CLI?
Via browser?

It's strange that the cli works and elsewhere doesn't as they all use the same go sdk (minus direct of course)

[2021-07-03 07:39] chauchausoup commented on #231
@cnlangzi I didn't understood.

[2021-07-04 10:31] Sriep opened #236 "object_opearation_handler.go: rx_pay in Downloadfile plus others"
some problems with object_operation_handler.go.

1. DownloadFile: The rx_pay is used to indicate that a read action down using an auth ticket is paid by the client not the allocation owner. It is not used for collaborators. Currently, this is round the wrong way.
2. DownloadFile: WhoPaysForReads should not effect users using auth tickets.
3. GetFileMeta does not validate check for collaborator or

[2021-07-04 18:49] shaktals commented on #227
We found the issue on the browser and using REST client (postman).
Postman calls directly to 0chain core APIs.
The Explorer webapp uses js-sdk, that talks to go-sdk.
I did some digging on the issue [here](https://github.com/0chain/block-explorer/issues/220#issuecomment-868797740).

[2021-07-05 15:30] Sriep opened #237 "update-attributes should be removed"
`update-attributes` is only used to update the `who--pays-for-reads` field. Hower the `who--pays-for-reads` field is never used.

`update-attributes` should be removed as it only serves to confuse.

[2021-07-05 15:41] Sriep commented on #237
Ops should be zbox closing

[2021-07-05 15:41] #237 closed

[2021-07-05 16:52] shravanshetty1 opened #238 "Add grpc-web"

[2021-07-05 23:40] stewartie4 commented on #227
The link seems dead - what was the outcome? Postman and cli seems fine

[2021-07-06 01:28] shaktals commented on #227
Hm, probably you don't have access to the block-explorer repo.

FIRST COMMENT:
I can reproduce a similar error on one.devnet too.
Although requests for 2 blobbers work, and for other 2 don't.
I tried those same requests using Postman and got the same results.

However, when using zboxcli, all 4 results come through ok.
zboxcli - getFileStats.txt

As the js-client-sdk talks directly to go-sdk, I wr

[2021-07-06 04:49] lpoli opened #239 "Not all handler function verifies client signature"
ObjectTree, ObjectPath, etc. have all implemented signature verification but following handler does not require client signature.
1. _/v1/file/meta/{allocation}_
2. _/v1/file/list/{allocation}_

There maybe other requests handler that does not require client signature.

[2021-07-07 09:21] chauchausoup commented on #231
Will close this for now as many repos are already using http based blobbers and such tweak might be counter productive for our explorer usecase.

[2021-07-07 09:21] #231 closed

[2021-07-07 10:13] shravanshetty1 commented on #238
https://github.com/improbable-eng/grpc-web/tree/master/go/grpcweb

[2021-07-07 12:32] #149 closed

[2021-07-07 17:21] #238 closed

[2021-07-11 13:07] shravanshetty1 commented on #122
@anish-squareops @m-s-a-c this needs to be handled by proxy like https

[2021-07-14 14:03] Sriep commented on #236
rx_pay issue fixed in https://github.com/0chain/blobber/pull/245

[2021-07-15 17:23] kushthedude commented on #151
Why not use the codecov gh-action?

[2021-07-15 18:09] kushthedude commented on #122
What are we aiming for here? Mutual-TLS or Server-side TLS?

[2021-07-15 18:19] kushthedude commented on #133
A suggestion over the directories here,
Most of the docker.*** directories contains helper scripts to setup the 0chain components on bare metal or any of the cloud provider. More over all of our core-packaged are placed under code/go/***
A modern yet understandable structure over here would be
[code]

The following repository structure is what we used in general at Msft & is also used by many oss

[2021-07-15 18:23] kushthedude commented on #181
Let's move out all of our proto files to https://github.com/bufbuild/buf, it is the most reliable and efficient way to work with protobufs. Removes the hectic of managing protoc client versions as well as have inbuilt more than 50 best practices for proto. We can even integrate it into our Github actions to ensure best practices during developing the grpc endpoints.

[2021-07-15 18:24] shravanshetty1 commented on #181
https://github.com/0chain/blobber/issues/43

[2021-07-15 18:26] kushthedude commented on #47
How about using https://github.com/NYTimes/openapi2proto ? Generates the documentation in OpenAPI specification which is standard documentation format for most rest APIs

[2021-07-15 18:26] kushthedude commented on #181
Can you assign me this?

[2021-07-15 18:32] shravanshetty1 commented on #47
That would create REST documentation, we want grpc documentation.

[2021-07-15 18:35] kushthedude commented on #47
It will create documentation for grpc endpoints in OpenAPI spec. We use OpenAPI to define the APIs schema & contract.

[2021-07-15 18:37] shravanshetty1 commented on #122
We probably want whatever https is using. Some research on what industry is doing is needed.

[2021-07-15 18:44] kushthedude commented on #122
Didn't get you here, grpc communication would happen under the hood of the server, we can serve our grpc services over https.

[2021-07-15 18:56] kushthedude commented on #181
Also, can you assign me the buf issue?

On Thu, 15 Jul, 2021, 23:59 Shravan Shetty, ***@***.***>
wrote:

[2021-07-16 06:23] shravanshetty1 commented on #181
Not sure why but your not in the list of people i can assign in the other issue. If you comment on that issue - you may get indexed.

[2021-07-16 06:52] meenal06 commented on #43
Ping @shravanshetty1 ,

[2021-07-16 06:53] kushthedude commented on #43
Ping @shravanshetty1 , I guess I dont have triage rights thats why I cant assign issues to myself.

[2021-07-16 12:48] kushthedude opened #247 "Feature: Split proto on the basis on contracts & method"
## Problem
Currently there is a single proto which has the api contract as well as the api methods implemented in it. With change any any of the contract or the method name, the complete code will be regenerated as well as with it is tedious to maintain large protocol definitions.

## Proposed Solution
Since we are using golang, we can easily import the protos into one another, splliting logic :
-

[2021-07-16 12:59] kushthedude opened #249 "CI: Move to GitHub Actions providers"
## Problem

We are using a lot of bare metal packages like fetching golangci-lint & other utils by scripts or go to fetch deps, rather a lot of standard gh-actions are available for all this like golangci-lint & code-cov.
One of the major features of why people use gh-actions is due to the available actions in the marketplace, by not using them we are voiding & missing out the major characterstic.

[2021-07-17 10:24] kushthedude opened #251 "[FEATURE] Investigate the use of Request Body in DELETE http header request"
It is not recommended & discouraged to include request body in DELETE header request. Moreover, at some places
[code]

However, not going into much details this issue should be separately handled.

_Originally posted by @kushthedude in https://github.com/0chain/blobber/pull/250#discussion_r671667787_

[2021-07-18 02:54] cnlangzi commented on #220
@andrenerd `ls-blobbers` is updated. but allocation's blobbers are not updated. please check it below logs:
[code]

[code]

[2021-07-18 02:58] cnlangzi commented on #220
And it seems not work on `./zbox newallocation --lock 0.5 --data 2 --parity 1`
[code]

I think not all related code are not updated with new blobber's info.

[2021-07-18 03:01] cnlangzi commented on #220
[code]

[2021-07-18 03:12] cnlangzi commented on #220
Can we add a `status` : `online|offline` on `ls-blobbers` too?

[2021-07-18 03:14] cnlangzi commented on #220
if you want to run blobber with different ip , please run ./cli.sh

[2021-07-18 18:18] kushthedude commented on #151
ping @cnlangzi

[2021-07-20 16:46] kushthedude opened #253 "Revamp integration_tests to unit tests"
Unit tests are wrongly suffixed as integration_tests.
## Tasks
- Refactor all the integration_tests into unit tests.
- Modify the CI & test script to run unit_tests.
- Make sure the tests don't break.

[2021-07-20 16:50] kushthedude opened #254 "grpc-gateway: throw away http_handlers & make sure gRPC handlers take care of all the logic"
#### Problem
If we want to have gRPC performance then we shouldn’t use http communication through the grpc services. Rn, we are just using grpc as an extra abstract layer over our http handlers, our performance load is much with this
`gRPC Request->HTTP Request->HTTP Response->gRPC Response` this is our current flow in the blobber.

#### Consequences
- We are using REST under the name of gRPC by c

[2021-07-21 17:00] kushthedude commented on #239
What is expected scene here? Should we have a check for signature header_key in the request which implements signature verification? I can cover this for the grpc handlers.
cc: @lpoli @guruhubb

[2021-07-21 17:31] kushthedude opened #255 "Bug: Incorrect logic to map HTTP headers to gRPC metadata"
Logic written for gRPC header matching is not correct, the correct approach was to write a customMatcher here https://grpc-ecosystem.github.io/grpc-gateway/docs/mapping/customizing_your_gateway/#mapping-from-http-request-headers-to-grpc-client-metadata , the logic which is implemented right now expects us to prefix our header with grpc-metadata the grpc-gateway docs are not much elaborated that's

[2021-07-23 06:20] #43 closed

[2021-07-23 06:20] #181 closed

[2021-07-23 06:20] #247 closed

[2021-07-23 19:56] #255 closed

[2021-07-24 09:24] kushthedude opened #260 "buf: Add documentation for buf"
With Buf being added as the tool for building gRPC stubs, we need to make few changes in the repository:
- [ ] Remove the protoc tool definition & documentation
- [ ] Add documentation on how to build the project with buf & available commands to use buf.
- [ ] Add a script to install & set up buf on the local system.
- [ ] Revamp & improve the readME

[2021-07-24 14:01] kushthedude opened #262 "[FEATURE] Golangci-lint: Enforce stricter rule checking & linting for blobber"
Problem:
Needless to mention the code quality is too low in the blobber without ensuring the golang standard checks like pascalCase naming, error handling, static checks & more.

Solution:
We already have golangci-lint setup for our codebase but here is the problem by default the golangci-lint only runs dead code check & nothing more. We need to set up a configuration file assuming what sort of ch

[2021-07-24 14:08] kushthedude opened #263 "Remove the protoc tool definition & documentation"

[2021-07-24 14:08] kushthedude opened #264 "Add a script to install & set up buf on the local system."

[2021-07-26 12:42] kushthedude commented on #174
Using buf breaking-change is the solution here https://docs.buf.build/breaking-usage/

[2021-07-26 13:23] moldis opened #266 "Consider to connect Firebase realtime DB"
Consider possibility to connect Firebase realtime DB and then attach to Mobile Apps (Android and IOS).

In that case any file change (add, remove, rename, delete) will be refrlected on UI in real time without any lags, hence will create nice user experience.

Currently mobile Apps are just using cron job to fetch list of files every 30 seconds and refreshing full screen, this works for now, but in

[2021-07-27 12:36] lpoli opened #268 "Gorm transaction variable limiting power of Go language."
This may not be major issue but I came across it while working with Object Tree pagination. When paginating we need certain number of rows as well as total rows without `limit` condition i.e. total rows count. So this would require two SQL  queries to run: One for limited number of rows and other to count total number of rows.

So instead of running two SQL queries sequentially we can use two go r

[2021-07-27 14:45] kushthedude commented on #268
⬆️

[2021-07-27 14:50] kushthedude opened #270 "Revamp & improve the readME"

[2021-07-27 14:58] #263 closed

[2021-07-27 14:58] #264 closed

[2021-07-27 15:52] lpoli commented on #268
The point is its not safe if you do `db = db.Begin()`
For other cases it will create New Session Method and they are safe for concurrent use

[2021-07-27 20:36] #208 closed

[2021-07-27 20:40] guruhubb commented on #220
No. I think we have --all option to list all the blobbers, otherwise its filtered with active/online blobbers.
Re running blobber with different ip, what is the use case. You can run blobber with localhost which will have its own unique ip.

[2021-07-27 21:42] shaktals commented on #227
Hey @stewartie4, did you get a chance to take a look at it? If you point me in the right direction I can propose a fix PR. It's blocking for us to get correct file info on `block-explorer`.

[2021-07-28 12:05] stewartie4 commented on #239
@kushthedude Any endpoint/handler that queries an allocation should be signed by either the allocation owner or a registered collaborator
So in the cases above, yes those should be signed too - see this issue https://github.com/0chain/blobber/issues/48 for context

[2021-07-28 12:58] kushthedude commented on #239
Thanks Got it @stewartie4 , the issue title should have been more descriptive, anyways since I am already revamping the HTTP APIs I can pick this up & add the owner verification in both the methods.

[2021-07-28 15:21] stewartie4 commented on #227
I would guess this is a mismatch in go sdk version or blobber version.
The sdk and CLI all work a s they have been updated to correctly provide a request signature to the blober.
If the block-explorer is failing then i would guess that the js sdk needs updated to provide the same signature by updating to use the latest go sdk

can you see an X-Client-Signature header being sent to the blobber from

[2021-07-29 17:01] lpoli opened #277 "Blobber can mess with the clients."
There are challenge protocols to keep blobber in check and it is related to file content.
The issue however is the metadata about the files in blobber database. Everywhere in the gosdk Consensus is checked against file content but the fileMetadata is also crucial to meet the concensus. And I think fileMetadata is not considered to be challenged.

Consider a scenario where user uploads a file to bl

[2021-07-29 18:19] shaktals commented on #277
I'm new here and pretty ignorant about 0chain / blobbers internals, but including metadata hashes on the consensus sounds like a good idea.

[2021-07-30 14:24] #249 closed

[2021-07-30 17:35] taustin commented on #277
Correct me if I am wrong, but don't the write markers connect to the metadata?  Assuming the markers are signed by the client, that should prevent the blobber from presenting fraudulent metadata for challenges.

One additional thought -- would it make sense to add a versioning counter to the markers?  That would simplify which blobber was out of date when comparing two blobbers without needing to

[2021-08-01 17:34] shaktals commented on #239
This probably clarifies [this error](https://github.com/0chain/block-explorer/issues/220#issuecomment-868814716) we were facing on `block-explorer`. It seems like we need to add the `X-App-Client-Signature' header to those calls. As of now, all signature generation for API calls are being handled by `js-client-sdk`. But only 3 methods are using it: `postShareInfo`, `deleteSharedObject` and `getSha

[2021-08-02 02:59] lpoli commented on #277
As per Whitepaper a write marker contains  client id,  blobber id, allocation id, timestamp, file root, the hash of the root directory on the file system, prev file root, write counter, and client signature.

Paper has talked about metadata verification in section 8.2: Justification Phase
I checked the code and it has verified objectPath(also aliased with merkle path) but other metaData are not ve

[2021-08-02 15:17] shaktals commented on #227
@stewartie4 after reviewing issue #239 it seems like we are missing the `X-Client-Signature` header on js-client-sdk. I'll create a new branch there, make tests and come back here to confirm.

[2021-08-02 22:04] stewartie4 commented on #227
That makes sense to me

[2021-08-03 02:32] shaktals commented on #227
Also it might be helpful to have some way to broadcast breaking changes to APIs, maybe on slack?

[2021-08-03 10:48] cnlangzi commented on #151
@kushthedude  it is fine to change it with codecov action. Both of them should work properly.

[2021-08-03 10:52] cnlangzi commented on #220
@guruhubb  `different ip` means local ip is changed. eg. I moved to other network. my local ip might be changed from 10.10.10.200 to 169.1.1.200.

We need register blobber with local ip instead of ip. it is reachable for container. Because blobber is running on outside docker, and sharder/miner are running inside docker.  127.0.0.1 is unreachable for them.

so it is only issue for local develpomen

[2021-08-04 05:23] kushthedude opened #286 "grpc: Collaborator grpc handler only supports POST method"
HTTP collaborator handler has the ability to handle multiple request methods `GET`, `POST`, `DELETE`
[code]

however, its equivalent grpc endpoint only supports POST method
[code]

[2021-08-04 14:01] cnlangzi opened #288 "NewConnectionID isn't global unique"
https://github.com/0chain/blobber/blob/44b88fbebc42ef3f96b3b928ee6c684dd978c3d2/code/go/0chain.net/blobbercore/allocation/workers.go#L300

connection_id is primary key in blobber's database. But NewConnectionID isn't global unique. It is a simple random number. It will make a lot of upload fail when blobber is running for long time.

func NewConnectionId() string {
	nBig, err := rand.Int(rand.Read

[2021-08-04 15:26] kushthedude opened #290 "Logging: improve logging in the blobber endpoints"
### Problem:

There is zero to none logging in comparison to the errors being catched, without logging it will be almost impossible in later period of time to do RCA for any issue.

### Solution:

Follow logging levels, create configurations, add different loggers with their respective logging level wherever deemed to be with error catching to ensure top observability.

[2021-08-05 00:06] taustin commented on #277
It sounds like we might be able to resolve this issue by adding the fileMetaData (or a hash of it) into the marker.

Any issues with that approach?

[2021-08-05 02:13] cnlangzi commented on #290
linked to https://github.com/0chain/0chain/issues/417

[2021-08-05 02:15] #288 closed

[2021-08-05 13:22] stewartie4 opened #293 "connection_write_error received periodically when calling delete/rename"
Multiple blobbers are experiencing this issue periodically across multiple networks.

Given a rename request to /v1/file/rename such as
![image](https://user-images.githubusercontent.com/18306778/128356654-1583e059-9c1d-4a8a-b6e0-8787b57ca4de.png)

Or a delete request to /v1/file/upload such as
![image](https://user-images.githubusercontent.com/18306778/128356722-94e24534-a7b1-497e-8eb5-58a4b6ea3e

[2021-08-05 14:47] cnlangzi opened #294 "It might be a memory leak issue"
https://github.com/0chain/blobber/blob/de66db8d0ec6bc380b83d7b47e2995f10acdaac3/code/go/0chain.net/core/lock/lock.go#L8

sync.Mutex is always appended to lockPool. but it is never removed. It might be a memory leak issue.

[code]

[2021-08-06 03:30] lpoli opened #298 "Bug while checking challenge"
This line creates panic error (and has created in local):
https://github.com/0chain/blobber/blob/master/code/go/0chain.net/blobbercore/challenge/worker.go#L232

When first condition is false with latestChallenge to nil and length of previous challenge id not being 0 then it will panic in second condition.
Condition checking should be refactored.

[2021-08-06 03:32] cnlangzi commented on #298
leave it with me. I am working on challenge issues. I will double check and fix it.

[2021-08-06 08:42] kushthedude opened #299 "Implement `/v1/marketplace/shareinfo/{allocation}` in grpc"
The following endpoint doesn't have any grpc implementation for it, this needs to be migrated to grpc too.

[2021-08-07 16:42] lpoli commented on #277
Yes it should work. Any filemeta hash signed by user, stored in `reference_objects` table will do.
For some path, client needs to send signed metadata of all subdirs along the path.

So maybe blobber can impose some kind of limit in directory levels.

[2021-08-07 16:49] guruhubb commented on #277
Isn’t there a check to get consensus metadata from data+1 blobbers to agree ? I remember we went through this before in our /conductor test profile. Check if there is such a corner case in [conductor.blobber-1.yaml](https://github.com/0chain/0chain/tree/master/docker.local/config), blobber-2 and you can run this and see for yourself. Feel free to add new cases.

[2021-08-08 12:42] cnlangzi opened #300 "Add codeql-analysis in github workflows to find potential security vulnerabilities in your dependencies."
linked to https://github.com/0chain/gosdk/issues/197

[2021-08-08 19:33] shaktals commented on #227
@stewartie4 I tested again the endpoint again via `jsClientSDK` and Postman, using a `X-App-Client-Signature` header what worked fine on another endpoint that requires the header, `/shareinfo`. But I still receive an `invalid signature` error in response. Does the endpoint work for you?

[2021-08-11 16:56] lpoli opened #301 "Refs gets updated date when its siblings gets updated."
Consider a directory `/dir1` where there are files; `f1, f2, f3, ....`
If I, say did rename operation in `f1 to f4 `for example then whole children of `/dir1` gets updated date. This is unusual. The blobber code needs to be refactored greatly to minimize such errors.

[2021-08-12 07:52] stewartie4 commented on #227
Hey are you talking about /v1/marketplace/shareinfo/<id> ? If so that endpoint is new and I wasn't involved in the signature implementation for that one.
I checked anyway and the signature does work for me

[2021-08-12 17:07] shaktals commented on #227
Sorry @stewartie4 , I badly expressed myself.

I meant that, I tested again the `v1/file/stats` endpoint again via `jsClientSDK` and `Postman`, using a `X-App-Client-Signature` header, and it returns an `invalid signature` error.

The same header signature value works fine on another endpoint (`/shareinfo`),

[2021-08-13 03:27] cnlangzi opened #303 "Add "min_confirmation" feature for sharder request"
https://github.com/0chain/blobber/blob/de66db8d0ec6bc380b83d7b47e2995f10acdaac3/code/go/0chain.net/core/transaction/http.go#L269

It MUST same as gosdk's logic https://github.com/0chain/gosdk/issues/195

Please review all sharder requests, and apply the same logic

see [more detail](https://0chain.slack.com/archives/G01FYNN6DK4/p1628818519027000)

[2021-08-13 09:59] cnlangzi opened #304 "[FEATURE] A tcp performance issue for too many open files"
it is same as https://github.com/0chain/0chain/issues/480

[2021-08-13 13:01] stewartie4 commented on #227
Hmmm that is strange It sounds like the two endpoints are calculating the signature differently
In saying all that I just tested via postman and /v1/file/stats works fine for me using the same signature

[2021-08-13 13:04] stewartie4 commented on #227
![image](https://user-images.githubusercontent.com/18306778/129361175-a9fb82a6-ad85-4e34-b9aa-5d9dfeef1b9d.jpeg)

[2021-08-13 18:29] shaktals commented on #227
I asked you on slack, but maybe better leave it recorded here, how are you generating your signature? It seems like the signature generated by `js-client-sdk` only works with 0box endpoints.

[2021-08-16 14:35] cnlangzi opened #306 "It should be registered instantly instead of time.sleep"
https://github.com/0chain/blobber/blob/de66db8d0ec6bc380b83d7b47e2995f10acdaac3/code/go/0chain.net/blobbercore/handler/protocol.go#L97

[code]

Because it is registered only on blobber startup.

https://github.com/0chain/blobber/blob/de66db8d0ec6bc380b83d7b47e2995f10acdaac3/code/go/0chain.net/blobbercore/handler/protocol.go#L156

[code]

[2021-08-16 15:42] #303 closed

[2021-08-16 15:42] #306 closed

[2021-08-16 16:21] #294 closed

[2021-08-19 20:18] shaktals commented on #227
Ryan answered me on slack, I repeat it here:

`No I call herumi directly via an api`
`The signature should be the signed sla3-256 hash of the allocation id`

[2021-08-20 01:04] shaktals commented on #227
@stewartie4 I built a quick script in `go-sdk` to confirm my signature was correct, and it seems to be (it matches the one created with `js-client-sdk`).

Then I built a little script in the `blobbers` code to test the `verifySignatureFromRequest` func in [storage_handler.go](https://github.com/0chain/blobber/blob/master/code/go/0chain.net/blobbercore/handler/storage_handler.go#L349), and it says

[2021-08-20 23:01] stewartie4 commented on #227
you're right these should match, although it's strange that nowhere else is having these issues.
The postman api regressions are working fine against that endpoint
https://0chain.github.io/0chain/beta/latest/index.html#pills-requests

[2021-08-21 01:08] shaktals commented on #227
Ah, the metadata endpoint is working fine indeed. I don't even need to provide the signature.
However, it seems like we can't get the `file/stats` endpoint to work.
I just created a new wallet, new allocation, new file, got the signature and I can't get the file stats.

How did you get the [above results](https://github.com/0chain/blobber/issues/227#issuecomment-898443298) on Postman?
What network

[2021-08-21 01:10] shaktals commented on #227
Ah, are there any other client apps/libraries regular and successfully consuming this endpoint now?

[2021-08-22 13:38] senpathi opened #313 "upload/download http handlers to grpc middleware"

[2021-08-23 17:11] stewartie4 commented on #293
This no longer seems to be periodic and is filing consistently
<img width="1077" alt="image" src="https://user-images.githubusercontent.com/18306778/130488652-9353b1c4-9457-4da8-bc70-05fe75c761c7.png">

[2021-08-24 15:16] lpoli opened #317 "Until first file upload allocation information, etc. not created."
`zbox newallocation --lock 0.5` stores allocation.txt file with allocation id in it.
After this if we do `zbox list --remotepath / --allocation $alloc` then it shows `{"code":"invalid_parameters","error":"invalid_parameters: Invalid allocation id passed.verify_allocation: verifying allocation transaction error: record not found"}`.

When checking into the blobber allocations table then respective

[2021-08-25 07:16] cnlangzi commented on #301
it is an issue on `CalculateHash` on root.

https://github.com/0chain/gosdk/blob/a32cf8cc937e8727931e8de83212990af69bfc6b/zboxcore/fileref/fileref.go#L114

[code]

`CalculateHash` has to be changed if we want to fix this issue.

[2021-08-25 07:18] cnlangzi commented on #301
BTW. WriteMarker is also working with `CalculateHash` on client.

[2021-08-25 09:00] Sriep opened #319 "Implement update-attributes --who-pays-for-reads"
Implement update-attributes --who-pays-for-reads

The owner of a file should be able to change the read terms at any time on a particular file. It shouldn’t be on the receiver side, as they will always want it for free.

[2021-08-27 10:47] moldis opened #323 "Access subfolders with --authticket"
Should we be able to access nested subfolders from a folder share? I can access first level successfully, but not the subfolder of it.
access (root folder) via authticket - SUCCESS
./zbox list --authticket eyJjbGllbnRfaWQiOiIiLCJvd25lcl9pZCI6IjNjMGFiNDZhNGZjMjJmYmRjZWU2YTliZTRlMmU4MzFhYjRiNmY2NDlkZDBkMTZiZDc3MTRmNTlhMGM1ZTQ2OTIiLCJhbGxvY2F0aW9uX2lkIjoiZTdkMzY5MzRmNDQyMTM1ZDUzNTI1MmM5NmM0ZTg2MjBhNj

[2021-08-30 11:25] vitaliy-kuzmich commented on #122
test

[2021-08-30 13:10] moldis commented on #323
<img width="776" alt="image" src="https://user-images.githubusercontent.com/2959408/131344109-726bcf74-3173-4998-993c-e55464c49e27.png">

[2021-08-30 15:34] stewartie4 commented on #227
Yes the pre-request script is generating the signature which is the BLS signing of the allocation id
This gives the same result as the go sdk

Ultimately this has to be a problem with how you're generating your signature on the client side, because the postman generated signature and the one generated by the blobber match.
/v1/file/upload also uses exactly the same signature generation and works v

[2021-08-30 16:11] stewartie4 opened #327 "Security: Some file metadata endpoints can be queried without a signature"
Similar to https://github.com/0chain/blobber/issues/48
The following endpoints can be queried with no authentication:
/v1/file/meta
/v1/file/list
Potentially leaking file metadata to anyone with the allocation id

Solution:
Add X-App-Client-Signature header to the endpoints above as in https://github.com/0chain/blobber/issues/48
The signature will be generated on the client by BLS signing the hash

[2021-08-30 16:18] stewartie4 opened #328 "Metadata object should return collaborators"
The metadata object (returned in
/v1/file/stats
/v1/file/list
/v1/file/objectpath
/v1/file/objecttree
/v1/file/referencepath
/v1/file/refs
)

Does not list the collaborators on the given file but the metadata object on /v1/file/meta does
Our objects should be consistent across endpoints and this is important metadata that should be returned

Add collaborators to the metadata object and return it o

[2021-08-30 21:38] shaktals commented on #227
Yes, that seems to be exactly the root of the problem.
Your Postman's signature and the blobber's somehow match, but I can't get `go-sdk` or herumi JS lib to match it.

Will you please share that pre-request script?
How did you get the signature from `go-sdk` to compare against?

I have written a Go script to use `go-sdk` signing function directly, and it's the same signature I get from `js-client

[2021-08-30 22:19] shaktals commented on #227
Ok, I think I found out what is going on.

I did additional tests using `zboxcli`, which yielded the file stats correctly.
So I drilled down into the code to check out the signature being generated by `go-sdk` there.

It turns out that the function being called to generate the signature in that logic is [setClientInfoWithSign](https://github.com/0chain/gosdk/blob/master/zboxcore/zboxutil/http.go#L

[2021-08-30 22:20] shaktals commented on #227
Actually, I can't close this :laughing:
But please go ahead.

[2021-08-30 22:55] stewartie4 commented on #227
I knew it was bound to be something like that
Glad you got it sorted 👍🏻

[2021-08-30 22:55] #227 closed

[2021-09-01 12:09] cnlangzi opened #329 "createDir: Incorrect values are saved in reference_objects and break challenge"
https://github.com/0chain/blobber/blob/7370c1e346733c3a31285bd0e75be1a87796c2ab/code/go/0chain.net/blobbercore/allocation/newfilechange.go#L89

It should be

[code]

Because it is new empty directory.

[2021-09-01 22:40] cnlangzi commented on #329
`CalculateHash` should be updated too. An empty directory break LastWriteMarker on blockchain if there is no any transaction is committed to blockchain. Challenge is broken too.

https://github.com/0chain/blobber/pull/190#issuecomment-868163476

[2021-09-02 17:14] kushthedude commented on #293
This is fixed in grpc deployment @stewartie4 , we will soon make grpc as the default branch so this is gonna be fixed as well

[2021-09-02 17:15] stewartie4 commented on #293
Nice! What was the issue?

[2021-09-02 17:17] kushthedude commented on #293
I guess its this PR only https://github.com/0chain/blobber/pull/273 . I didnt merge this PR into my grpc because it doesn't had any unit tests, I made a review on to add unit-tests but seemed like change was too trivial for author. So I left it until the unit tests for the change were added.

[2021-09-02 20:58] cnlangzi opened #330 "Add recover handler on http handler/background worker/goroutines"
`recover handler` is missing in all http handlers, background workers and goroutines.  blobber is crashed with any nil point

`panic: runtime error: invalid memory address or nil pointer dereference`

[2021-09-08 07:32] krishnemd opened #338 "on_cloud field in /file/meta shows false despite committing it to the chain."
On severall CLI attempts on commiting the meta to blockchain while upoading the file and even explicitly commiting the meta to chain I can see no **on_cloud** field being updated to true.

It is also related to the explorer issue [#335]( https://github.com/0chain/block-explorer/issues/335)

[2021-09-11 14:59] Sriep opened #340 "downloadFile possable security issue."
Downloading a file works as follows.

1. zbox -> gosdk call to downloadFile.
2. downloadFile processes request. Returns file and adds a `read-redeem` item to the `read_redeems` SQL table, incrementing the count and setting redeem to true. It also checks, with `0chain/getReadPoolAllocBlobberStat`, that  there are enough funds in the appropriate read pool.
3. A work thread polls the `read_redeems` t

[2021-09-12 21:40] cnlangzi commented on #338
@chauchausoup on_cloud is designed for other feature , not for committing file to chain. It is updated in background worker `startMoveColdDataToCloud`. if it is true, it means file has been moved to minio cloud storage instead local disk .

[2021-09-15 06:51] krishnemd commented on #338
As per our Slack convo write_marker is correct field for Blockchain aware instead of on_cloud.

Dayi Chen  1 day ago
it should be write_marker.status

Dayi Chen  1 day ago
const (
    Accepted  WriteMarkerStatus = 0
    Committed WriteMarkerStatus = 1
    Failed    WriteMarkerStatus = 2
)
Regarding further implementation @cnlangzi is checking on it.

[2021-09-20 03:40] lpoli opened #345 "[FEATURE] Separation of file meta data"
Currently we put all of the file meta data of all allocations to a single table `reference_objects`. Since there can be multiple allocations and each allocation can have multitude of files/directories and soft delete is implemented(i.e row is not deleted upon delete query instead its `deleted_at` field is updated with current timestamp), this `reference_objects` table grows very large.

Also prima

[2021-09-20 03:40] lpoli commented on #345
This is much of a discussion than issue

[2021-09-23 02:17] cnlangzi opened #346 "fix gin-gonic security issue"
please upgrade `github.com/improbable-eng/grpc-web/go/grpcweb`

check detail on  https://github.com/0chain/blobber/security/dependabot/go.sum/github.com%2Fgin-gonic%2Fgin/open
[code]

[code]

[2021-09-23 02:18] cnlangzi commented on #345
I need more time to check and think it. I will keep you update

[2021-09-23 02:20] #300 closed

[2021-09-28 02:18] cnlangzi opened #371 "blobber crash on intializeMinio (AWS Key ID issue)"
[code]

[2021-10-02 00:20] cnlangzi commented on #298
It has been fixed on `ChunkedUploaded` pr

[2021-10-02 00:20] #298 closed

[2021-10-02 00:22] cnlangzi commented on #111
it is fixed on https://github.com/0chain/blobber/pull/344

[2021-10-02 00:22] #111 closed

[2021-10-02 00:24] cnlangzi commented on #210
it is fixed on https://github.com/0chain/blobber/blob/ef0aaddf2ad50a7301deab10462283a9779668c2/.github/workflows/ci.yml#L45

[2021-10-02 00:24] #210 closed

[2021-10-02 00:46] cnlangzi commented on #118
docker-layer-cacher is not faster. Because too many unused docker images will be cached and loaded.

[2021-10-02 00:46] #118 closed

[2021-10-02 00:53] cnlangzi commented on #171
it is done on https://github.com/0chain/blobber/pull/344

[2021-10-02 00:53] #171 closed

[2021-10-02 00:54] cnlangzi commented on #177
please follow it on https://github.com/0chain/blobber/tree/staging/dev.local.  You can run blobbers outside docker , and debug it in vscode directly.

[2021-10-02 00:54] #177 closed

[2021-10-02 00:59] cnlangzi commented on #234
@shravanshetty1  github actions work properly now.  please reopen it if you find any problem.

[2021-10-02 00:59] #234 closed

[2021-10-02 01:14] #338 closed, assigned to nobody

[2021-10-02 01:16] cnlangzi commented on #327
the same issue on https://github.com/0chain/blobber/issues/239

[2021-10-02 01:17] cnlangzi commented on #345
similar to https://github.com/0chain/blobber/issues/301

[2021-10-02 01:18] cnlangzi commented on #218
it is fixed on https://github.com/0chain/blobber/pull/344

[2021-10-02 01:18] #218 closed

[2021-10-02 01:19] cnlangzi commented on #330
it is fixed on https://github.com/0chain/blobber/pull/370

[2021-10-02 01:19] cnlangzi commented on #219
it is fixed on https://github.com/0chain/blobber/pull/344

[2021-10-02 01:19] #219 closed

[2021-10-03 00:13] cnlangzi opened #378 "stats on <blobberurl>/_stats(JSON) k is not updated even it has been updated via zbox bl_update"
stats on <blobberurl>/_stats(JSON) keep reflecting of config/0chain_blobber.yaml even if blobber has been updated via zbox bl_update ?

see detail on https://0chain.slack.com/archives/GREHVKQKS/p1630062198029300

[2021-10-03 00:13] cnlangzi commented on #317
see detail on https://0chain.slack.com/archives/G014PQ61WNT/p1629885501118000

[2021-10-03 00:20] cnlangzi commented on #327
@Agaber90 please move all signature code to a middleware as https://github.com/0chain/blobber/blob/staging/code/go/0chain.net/blobbercore/handler/handler_middlewares.go

[2021-10-03 00:24] cnlangzi commented on #317
@iamrz1 try to sync allocation from chain if it doesn't exists on postgres

[2021-10-03 00:24] Agaber90 commented on #327
@cnlangzi  Sure

[2021-10-05 02:08] cnlangzi opened #379 "[FEATURE] improve /_stats page"
add more things on _stats page like sharder/miner's _diagnostics to display display performance, health, etc metrics.

https://dev.0chain.net/miner01/_diagnostics  vs https://dev.0chain.net/blobber05/_stats

[2021-10-06 13:15] moldis opened #382 "RenameDir is not working"
There are few methods like move or copy, but non of them working for Dirs. I am assigning this ticket to myself as already started with it ad it's blocking mobile team from release candidate

[2021-10-12 06:06] moldis opened #385 "TBD: When deleting folder - it deletes wrong hash"
After deleting second folder I got response is
12:52
E/GoLog: 0box-sdk: [INFO]   2021/10/12 05:48:10.688198 deleteworker.go:74: http://dev.0chain.net:31305 /Second Folder deleted.
    0box-sdk: [INFO]   2021/10/12 05:48:10.689572 deleteworker.go:74: http://dev.0chain.net:31304 /Second Folder deleted.
E/GoLog: 0box-sdk: [INFO]   2021/10/12 05:48:10.689572 deleteworker.go:74: http://dev.0chain.net:3

[2021-10-13 14:53] moldis opened #388 "Unable to share file anymore"
`zboxcli git:(staging) ./zbox share --allocation $alloc --remotepath /folder1 --clientid $clientid --encryptionpublickey $enc_key
0chain-core-sdk [INFO]   2021/10/13  wallet.go:290: ******* Wallet SDK Version:v1.2.87 *******
0box-sdk        [INFO]   2021/10/13  sdk.go:72: ******* Storage SDK Version: v1.2.87 *******
0chain-core-sdk [INFO]   2021/10/13  wallet.go:401: *******  Wallet SDK Version:v1

[2021-10-14 00:14] cnlangzi opened #389 "rename should be rejected if target filename exists"
it will be overwritten if target filename exists now.

[2021-10-14 07:31] moldis opened #391 "filechange classes a bit messy, need to refactor them"
![image](https://user-images.githubusercontent.com/2959408/137271396-90870dd3-1a13-4059-8536-3389a144eb12.png)

Need to refactor and make more readable code + make unit tests with coverage at least 80% as this is the most critical path

[2021-10-15 01:19] cnlangzi commented on #329
after code review, it is completed wrong to create directory directly on local file system

https://github.com/0chain/blobber/blob/0c5de39b4adfa5b975a1b7e04a40c903c7726273/code/go/0chain.net/blobbercore/filestore/fs_store.go#L184

[2021-10-17 11:35] cnlangzi commented on #379
@princeparmar please work on this issue.

[2021-10-19 00:32] iamrz1 commented on #327
I went through the code, and found that the some APIs (about 12) perform signature verification on their own. We  can implement a middleware that can perform this specific task. Then we can just add the middleware to whichever API that needs to perform this check.
I have added a middleware in https://github.com/0chain/blobber/pull/394, please take a look and let me know what you think.

[2021-10-19 02:45] cnlangzi commented on #379
I think we should add stats about
- postgres
- connectivity with sharder/miner
- pprof
- better table with Allocation Stats
- build tag
- failed challenge list

[2021-10-20 00:40] #388 closed, assigned to moldis

[2021-10-20 02:15] cnlangzi opened #397 "build tag is missing on home page"
please fix it like sharder https://huawei.0chain.net/sharder02/_diagnostics

<img width="1113" alt="Screen Shot 2021-10-20 at 10 13 09" src="https://user-images.githubusercontent.com/347651/138016752-7195c1b5-696d-4853-9f2d-58bbe595ca7b.png">

[2021-10-20 07:05] cnlangzi opened #398 "add conductor tests and enable it in github action"
can you work with @Roman and @Mohd Shahnawaz on the /conductor tests for blobber to get them as part of ci/cd.  https://github.com/0chain/0chain/tree/master/docker.local/config conductor.blobber-1.yaml, blobber-2 and you can run this and see for yourself. And if you want to add new cases please go ahead. (

please work with @Anish Gupta   @m-s-a-c  and  @stewartie4   on this once you set it up bec

[2021-10-20 09:35] stewartie4 commented on #398
we'll be adding conductor tests to the system tests pipeline?
remind me what these tests do vs regular system tests? these are sad/error path right?

[2021-10-20 22:56] cnlangzi commented on #398
@Rizary  please checks and works with @stewartie4 . I don't have chance to check conductor tests @guruhubb mentioned

[2021-10-20 22:59] cnlangzi opened #399 "improve challenge code"
- improve logging for debugging
- improve postgres performance: split big transaction into smaller transactions for better performance
- improve sharder api request with better models
- improve background worker

[2021-10-22 23:44] rizary commented on #398
@stewartie4 conductor is like an RPC server for integration tests. It is automated according to the config specified in the 0chain/0chain repository.

The conducter requires the nodes to be built first so it can run the test against the running nodes. The test conducted based on the config yaml that use a test suite.

[2021-10-25 12:51] moldis commented on #371
cc @kushthedude

[2021-10-25 12:52] #346 closed, assigned to kushthedude

[2021-10-25 12:53] moldis commented on #340
cc @kushthedude

[2021-10-25 12:54] moldis commented on #329
PR already in review

[2021-10-25 12:55] moldis commented on #323
PR created

[2021-10-25 12:56] moldis commented on #319
cc @kushthedude

[2021-10-25 13:03] moldis commented on #277
cc @kushthedude

[2021-10-25 13:08] moldis commented on #239
cc @kushthedude

[2021-10-25 13:11] moldis commented on #228
PR: https://github.com/0chain/blobber/pull/325

[2021-10-25 13:13] moldis commented on #220
cc @kushthedude

[2021-10-25 13:13] moldis commented on #220
Need to check if issue is Done

[2021-10-25 13:36] moldis opened #401 "Copy to root doesn’t seem to work if there are no folders"
https://github.com/0chain/zboxcli/issues/67

[2021-10-27 09:48] Sriep opened #405 "Update readme.md"
The instructions in the [readme.md](https://github.com/0chain/blobber#building-and-starting-the-nodes) no longer work.This should be updated to explain how to run blobbers locally.

In particular
[code]
`build.blobber.base.sh` no longer exists. Running `build.base.sh` instead failed when I tried.

[2021-10-28 06:30] iamrz1 commented on #397
I am not sure why this happens. Dockerfile get the build tag from the shel, so the tag should be available in the binary. Is there any similar for on any other repo that I can look at?

[2021-10-28 08:46] cnlangzi commented on #397
sharder/miner/0dns have build tag too

[2021-10-28 16:50] hm90121 commented on #405
Closing this one @cnlangzi @Sriep  review the readme changes here
https://github.com/0chain/blobber/pull/410

[2021-10-28 16:50] #405 closed, assigned to hm90121

[2021-10-31 09:05] iamrz1 commented on #397
I believe I have isolated the issue. 0chain/0chain repo and 0chain/blobber repo have different package architecture with go mod definition located in different location. However docker images from 0chain/blobber assumes the same architecture as 0chain/0chain to set build tags.
I have added a PR that addresses this by changing the path to build tag variable.

[2021-10-31 22:55] #397 closed, assigned to iamrz1

[2021-11-04 22:57] cnlangzi commented on #371
@iamrz1 ignore this issue first. panic should be fine if AWS key is incorrect.

[2021-11-05 06:54] cnlangzi opened #420 "[bug]loadDetailedStats crashes on sql."
/usr/local/go/src/net/http/server.go:1929
--
  |   | 2021-11-05 06:46:55 | net/http.(*conn).serve
  |   | 2021-11-05 06:46:55 | /usr/local/go/src/net/http/server.go:2878
  |   | 2021-11-05 06:46:55 | net/http.serverHandler.ServeHTTP
  |   | 2021-11-05 06:46:55 | /go/pkg/mod/github.com/gorilla/mux@v1.8.0/mux.go:210
  |   | 2021-11-05 06:46:55 | github.com/gorilla/mux.(*Router).ServeHTTP
  |   | 202

[2021-11-05 07:21] #371 closed, assigned to iamrz1

[2021-11-05 14:44] lpoli opened #421 "Infinite Storage for Blobber"

[2021-11-09 13:42] #327 closed

[2021-11-10 14:40] cnlangzi opened #426 "`zbox list-all` doesn't work"
PS C:\Users\Chafid\.zcn> .\zbox.exe list-all --allocation 38320806b783aecb7dd44f0cbf4f9cc063856f77a465f90f0ea03471d5289443
0chain-core-sdk [INFO]   2021/11/10 21:31:39.413080 wallet.go:290: ******* Wallet SDK Version:v1.2.87 *******
0box-sdk        [INFO]   2021/11/10 21:31:39.414049 sdk.go:72: ******* Storage SDK Version: v1.2.87 *******
0chain-core-sdk [INFO]   2021/11/10 21:31:40.176570 wallet.

[2021-11-15 22:23] cnlangzi commented on #401
similar #317

[2021-11-16 10:40] cnlangzi commented on #317
@princeparmar  please work on this issue.

[2021-11-16 11:35] #420 closed, assigned to cnlangzi

[2021-11-17 01:34] cnlangzi commented on #239
@stewartie4  it should be fixed on latest staging. could you help to double check it? if it is fixed, please close this issue. thanks.

[2021-11-18 00:40] #389 closed, assigned to moldis

[2021-11-18 00:41] #382 closed, assigned to moldis

[2021-11-18 15:04] moldis opened #437 "File already exists, if uploading same file name to blobber"
I have a concern about this issue, as we should let upload files even if it exists, just override it. Otherwise user have to do double operation - delete if first, then upload again.

[2021-11-18 15:21] cnlangzi commented on #437
I think `update` is designed for it.

[2021-11-19 02:40] cnlangzi commented on #378
linked to [0chain/zboxcli:128](https://github.com/0chain/zboxcli/issues/128)

[2021-11-19 10:30] #426 closed, assigned to rizary

[2021-11-22 07:15] moldis opened #439 "available_after param for /share option (private share only)"
- Add new param available_after for private share, i.e Yeah but the use case is a bit different where people can create private NFTs and have a timelock. Would be something like “Elon Musk encrypted some form of data into an NFT and only after time XY the content will be viewable by the holder of the NFT” or “every holder of the NFT can open the encrypted content”.

example: `zbox share --allocati

[2021-11-22 11:06] kushthedude commented on #220
@cnlangzi Is it fixed?

[2021-11-22 11:07] kushthedude commented on #83
@cnlangzi Do you have context on this?

[2021-11-22 11:07] kushthedude commented on #293
The PR was reverted so shall the issue too, do check again if it occuers

[2021-11-22 11:07] #293 closed

[2021-11-22 11:08] kushthedude commented on #236
@Sriep is this fixed?

[2021-11-23 02:58] #239 closed

[2021-11-23 05:08] princeparmar commented on #317
@cnlangzi this is resolved it is not giving error now.
0chain-core-sdk [INFO]   2021/11/23 10:37:46.575452 wallet.go:291: ******* Wallet SDK Version:v1.2.87 *******
0box-sdk        [INFO]   2021/11/23 10:37:46.575525 sdk.go:72: ******* Storage SDK Version: v1.2.87 *******
0chain-core-sdk [INFO]   2021/11/23 10:37:46.576527 wallet.go:402: *******  Wallet SDK Version:v1.2.87 *******
0box-sdk

[2021-11-23 10:39] stewartie4 commented on #239
looks good to me
<img width="397" alt="image" src="https://user-images.githubusercontent.com/18306778/143009686-388ce268-2938-4f86-bcde-799bee163767.png">

[2021-11-23 13:45] rizary opened #440 "zbox upload got stuck error on verify transaction"
How to reproduce:
- Setup blockchain using [0chain documentation](https://docs.0chain.net/0chain/deploying-the-0chain-network-on-linux#step-8-creating-an-allocation-on-blobber)
- run `./zbox newallocation --read_price 0.001-10 --write_price 0.01-10 --size 104857600 --lock 4 --data 1 --parity 1 --expire 48h
`
- run `./zbox upload --allocation $alloc --localpath=$HOME/random.bin --remotepath=/remote

[2021-11-23 16:30] princeparmar opened #441 "duplicate dir creation is not giving any error"
/zbox createdir --allocation 4157af127d56077124753022f00cf84fb09df87f66d6bc46f9a61a27d45ff851 --dirname test

if we execute createdir comand with same dir name then in database instead of giving an error it creates duplicate entries.

test     | /test                 | 4157af127d56077124753022f00cf84fb09df87f66d6bc46f9a61a27d45ff851
 test     | /test                 | 4157af127d56077124753022f00cf

[2021-11-23 22:27] cnlangzi commented on #441
it is related to https://github.com/0chain/blobber/issues/329

[2021-11-24 18:02] Sarthakbunny opened #443 "Shared Files can not be retrieved when recovering a wallet from mnemonic/cloud"
On recovering wallet 0box/files will show the list of files from previous wallet but the 0box/share-file wont show the previous wallet files.

Reference: https://0chain.slack.com/archives/C026YA5EYH3/p1636702183147100

[2021-11-25 01:12] cnlangzi commented on #83
No idea. And db stuff should be refactored in next milestone. db transaction/connection should be improved as a transient session and non-shared.

[2021-11-25 02:34] cnlangzi opened #444 "migrate herumi bls for wasm"
related to https://github.com/0chain/gosdk/issues/294

[2021-11-29 02:52] #379 closed, assigned to iamrz1

[2021-11-29 14:56] princeparmar commented on #385
@cnlangzi I have tried this issue as explained.
first i have added one file
then created "First Folder" and "Second Folder"

then i have deleted "Second Folder". and it worked as expected.

  TYPE |     NAME      |      PATH      | SIZE | NUM BLOCKS |                           LOOKUP HASH                            | IS ENCRYPTED | DOWNLOADS PAYER
-------+---------------+----------------+------+--

[2021-11-29 18:18] kushthedude commented on #385
@moldis Can you help @princeparmar with the reproduction instructions or are we missing something in the issue context?

[2021-11-30 04:17] cnlangzi commented on #437
@moldis  do you think it is fine to close this issue?

[2021-11-30 04:19] #317 closed

[2021-12-01 23:11] cnlangzi opened #448 "allocated size should be incorrect on _stats"
In general , correct stats should be like
- AllocatedSize >= UsedSize
- ActualDiskUsage == FilesSize

<img width="1245" alt="Screen Shot 2021-12-02 at 07 06 58" src="https://user-images.githubusercontent.com/347651/144328745-d50d85e5-66ca-4678-9f84-b98f4d858d52.png">

[2021-12-02 00:07] cnlangzi opened #449 "postgres connection might have memory leak issue"
`OpenConnections always equals ConnectionsInUse`, it might be a memory leak. a db connection should be closed and backed to connection pool after command is executed.

<img width="1299" alt="Screen Shot 2021-12-02 at 08 05 55" src="https://user-images.githubusercontent.com/347651/144334050-7605027a-82cf-457e-94ad-7dde5c80a149.png">

[2021-12-02 00:12] cnlangzi opened #450 "add `name` on allocations table."
Allocation only has id (hash value) now. it is not friendly on UI for end-user who has multiple allocations. so let us add a `name` column for better display.

- update commands `zbox newallocation --name alloc_name` and `zbox updateallocation --name alloc_name`
- return name in `zbox listallocation` and `zbox alloc-get`

[2021-12-03 22:07] cnlangzi opened #451 "leave / as empty folder in reference_objects table if `zbox delete --remotepath /` is called"
see detail on https://0chain.slack.com/archives/GREHVKQKS/p1638543882167700

[2021-12-04 12:07] #401 closed, assigned to princeparmar

[2021-12-06 04:13] lpoli opened #454 "File upload inside a file"
When we upload a file to some remotepath it creates parent directories if they already are not present. So when a file is uploaded say `/a.txt` blobber stores it as file type `f`, which is absolutely fine.

Now when we upload a file say `b.txt` with remotepath `/a.txt/b.txt` then blobber happily accepts it and when we do `zbox list --remotepath /a.txt` we can see `b.txt` in its list. And when we d

[2021-12-06 06:52] moldis opened #455 "For private share expiry_at should support 0 value"
I case if we set expiry_at to 0 - file should be available infinitely

[2021-12-08 07:57] lpoli opened #459 "Max file size logic should be removed"
It is important to remove this field because as we know blobbers are independent nodes and therefore file won't be uploaded even though allocation has available space.

Consider we have 6 blobbers and if 3 blobbers set `max_file_size` to 10MB and other 3 blobbers set it to 1GB. New allocation can be created because we don't check for this field. But when user uploads, say >120 MB file, it will alw

[2021-12-08 14:58] shaktals commented on #443
So, re-reading the issue, from what I understand, the issue is that today we have to save the `auth_tickets` in the browser's localStorage so that the app knows what files have been shared with the current wallet. It that right @Sarthakbunny?

I just made some tests and that seems to be the case. I opened up a [discussion](https://0chain.slack.com/archives/C01U94VF56Y/p1638975464334200) on the #st

[2021-12-08 19:22] shaktals commented on #443
As per Saswata comments on the above mentioned slack discussion, the feature is already implemented on explorer via `recover from mobile phone`. We'll just add an extra alert to the user if he doesn't have that feature set up for their wallet.

[2021-12-08 19:22] #443 closed, assigned to nobody

[2021-12-09 11:12] cnlangzi commented on #448
@ssardana08 please work on this issue first

[2021-12-09 22:44] #459 closed, assigned to nobody

[2021-12-09 23:06] cnlangzi commented on #448
[code]

[2021-12-09 23:55] #455 closed, assigned to rizary

[2021-12-10 06:13] moldis opened #462 "Disk load balancer for storing files (i.e. infinite storage)"
Something similar to https://data-flair.training/blogs/hadoop-hdfs-disk-balancer/. During file upload, the blobber code should choose the disk to store file, download operation should pickup file from specific storage. Extra database column pointing to storage name.

Need to discuss about:
1. Choose algorithm pros and cons for load balancing (might be round robin, free space or mixed)
2. Dynamical

[2021-12-10 07:24] guruhubb commented on #462
I think we had several proposals for the algorithm, and the one I liked is to map file to disk irrespective of allocation. The mapping could be based on free storage space, file size, and inode value. The disk can be viewed as a storage entity and can be a RAID.  So then you'd be writing the file based on multiple RAIDs not disks.  We will likely recommend a 2-RAID5s to start with for a blobber. I

[2021-12-10 08:48] lpoli commented on #462
We can have multiple raids setup for a system. So there can be n number of Raid-i's.
Regarding load balancing we can have round-robin, min-size first, min-count first, random, some disk selection algorithm based on file size,etc.
We can also consider small sized files for example say, less than 1KB, to store in some database so inodes consumption will be taken care of.

For postgres db scaling the

[2021-12-10 09:00] guruhubb commented on #462
@lpoli the above is a bit complex. Can we simplify as we have a few days to deliver this?  the less features and options we have in the algorithm the better.

We will not do block storage...too complex.

[2021-12-13 00:26] rizary commented on #455
closed by [#324](https://github.com/0chain/gosdk/pull/324)

[2021-12-13 16:01] Sriep opened #467 "New fields for WriteMarker"
The WriteMarker sent to 0chain as part of a `commit_connection` transaction should contain fields for the following information
[code]
This is because Explorer needs these fields, and will read them from the WriteMarker table in the Event database.

https://github.com/0chain/0chain/issues/768
https://github.com/0chain/0chain/issues/733#issuecomment-987919888

[2021-12-16 11:25] cnlangzi opened #468 "calculate price/blocks based on customized chunk_size instead of default 64KB"
readPrice and writePrice is defined in sc.yaml. Its based on zcn/GB/per period. but chunk_size is customizable now.

`CHUNK_SIZE` should be updated with `reference_objects.chunk_size`

[code]

BTW: WriteWrite should be updated too

[2021-12-17 01:23] cnlangzi opened #470 "migrate download from POST to GET"
it is easy to hit error `http: server closed idle connection` on downloading. `POST` means non retry-able in go and http standard . https://stackoverflow.com/questions/42847294/how-to-catch-http-server-closed-idle-connection-error

gosdk/zboxcli should be updated too.

[code]

[2021-12-17 01:25] cnlangzi commented on #444
it is done by bls-wasm

[2021-12-17 01:25] #444 closed, assigned to nobody

[2021-12-18 09:41] krishnemd opened #471 "/v1/file/stats/ for moved files lack the write_marker."
So here is the response for original path for file/stats request:

[code]
Also here is the response for the moved file on file/stats request:

[code]

[2021-12-20 12:44] Sriep commented on #467
WrtieMarkers need to be sent to 0chain when we add a new file, update a file, delete a file, copy or move a file, and rename a file.

Currently, deletes are sent as a negative size amount. I Will update as to if this is sufficient or not.

[2021-12-22 05:14] peterlimg opened #473 "Error: 'fcrd should not be nil' on endpoint /_statsJSON"
@Manali-Jain-squareops reported error:

[code]

This happens because `setStatsRequestDataInContext()` is not called on `StatsJSONHandler()`, therefore, no stats info saved to the context. There are some other stats acquiring issue happen in similar way, we'd better check the logs and fix them too.

[2021-12-23 01:14] cnlangzi commented on #468
@guruhubb any idea?

[2021-12-23 18:26] iamrz1 commented on #473
Got it, this is because the pagination data for failed challenges is missing, which should have been added for jsonStats as well. So since the allocation list and failed challenge list is paginated, I will also return the pagination info with response.

And if there are any other stats related issues, please let me know.

[2021-12-23 21:26] iamrz1 commented on #473
In hindsight, statsJSON endpoint doesn't seem to serve allocation-list and failed-challenge-list. In that case, not serving the stats in json endpoint might be a good idea (since there's database calls involved).

[2021-12-25 00:58] cnlangzi commented on #454
@lpoli please leave `good first issue` for newcomers if it is possible

[2021-12-27 13:02] Sriep opened #476 "toggle permission to `upload`,`delete`, `update`, `move`, `copy` and `rename`."
There is a new toggle to allow  `upload`,`delete`, `update`, `move`, `copy` and `rename`.

Boolean fields controlling this will be added to the allocation object blobber gets from 0cahin. Each of `upload`,`delete`, `update`, `move`, `copy` and `rename` should only be permitted if the corresponding field in the allocation object permits it.

This change is blocked by https://github.com/0chain/0chai

[2021-12-30 20:45] shaktals commented on #471
@cnlangzi can you take a look at this or assign someone to the issue? Thanks!

[2021-12-31 03:20] #451 closed, assigned to princeparmar

[2022-01-02 08:05] #473 closed, assigned to nobody

[2022-01-02 08:06] #437 closed, assigned to moldis

[2022-01-02 08:09] cnlangzi commented on #378
@kushthedude  @amanjain97  any update?

[2022-01-02 08:11] cnlangzi commented on #448
@ssardana08 @lpoli  any update?

[2022-01-02 08:21] #328 closed

[2022-01-02 08:33] ssardana96 commented on #448
@cnlangzi I've not started on this yet.
Currently working on Events db tickets (cc: @kushthedude @Sriep )

[2022-01-02 08:41] #145 closed

[2022-01-02 08:48] #323 closed

[2022-01-05 13:38] lpoli opened #494 "Object operation handler's response is not proper"
url -> `/v1/file/download/{allocation}`
handler -> `storageHandler.DownloadFile`

Above handler returns value of type `interface{}`. So this means it can be `[]byte` and `some_other_type`. In gosdk to find out if response data is actual data; it is first tried with `json.Unmarshal' and its error is considered along with http status code.

Http status codes should be used properly to communicate er

[2022-01-05 13:38] lpoli commented on #494
cc @cnlangzi

[2022-01-05 22:12] cnlangzi commented on #494
@lpoli  yes, almost of apis should be improved with restful api format.

[2022-01-05 22:14] cnlangzi commented on #494
it is similar to #470

[2022-01-13 05:27] lpoli opened #498 "Track mount/unmount of disk on fly"
As we are making progress on storage capacity of blobbers, it is also necessary to have track of mounted and unmounted disk in runtime. So for example, if new disk is mounted to the system for it to store allocation's data, this new capacity needs to be reflected in blockchain as well without blobber going offline. So this is similar to `bl-update` that we do in zboxcli.

We need some goroutine th

[2022-01-13 05:27] lpoli commented on #498
cc @moldis @platsko @guruhubb

[2022-01-14 01:32] cnlangzi opened #499 "host blobber over tls with HTTP2 support"
add input arguments on blobber/main/startHttpServer

- --https-port
- --https-key-file
- --https-cert-file

they are optional. blobber should listen on `https-port` over tls with `https-key-file` and `https-cert-file` to support http2.

[2022-01-14 15:30] #499 closed, assigned to princeparmar

[2022-01-16 04:18] krishnemd opened #502 "Blobber info to be added on /getblobber"
.

[2022-01-16 04:27] krishnemd opened #503 "Storage cost per TB."
UI requires storage cost per TB for overall dStorage. As per our present implementation I could not find this value being represented on our APIs. Is this value dependent on each blobber ? If that is the case then we  might need to find the average of all the blobber on the system and give a final score of cost per TB on 0chain storage platform.

[2022-01-17 01:11] cnlangzi opened #504 "please update README.md to explain how to deploy blobber with https"
it is related to https://github.com/0chain/blobber/pull/500

[2022-01-17 03:54] #329 closed

[2022-01-17 03:54] #441 closed, assigned to princeparmar

[2022-01-17 11:13] krishnemd opened #506 "Rank of a blobber."
UI requires some new terms for blobber like:

- Rank,
- commission
- node diversity
- utilization%
- quality score% etc

Do we on Blobber team have some standard definition of these terms already or it is the first time we are defining them ?
As per the UI team the definition for the terminologies is as follows:

- utilization = used / total_storage
- quality score% = (num_success_challenges/total

[2022-01-17 11:41] lpoli opened #507 "Race condition with read marker"
Current ReadMarker structure:
[code]

As per the protocol _**The smart contract will release funds corresponding to the difference between the read_counter in the marker and the latest read_counter redeemed on the blockchain**_

The importance of ReadCounter is only to allow blobber to redeem tokens from read pools. The ReadCounter is based on the assumption that each counter corresponds to 64KB r

[2022-01-17 11:42] lpoli commented on #507
cc @taustin @guruhubb @Sriep @peterlimg  @moldis @cnlangzi

[2022-01-17 12:57] krishnemd opened #508 "_stats vs _statsJSON"
UI requires the JSON version of _stats page. At present we do have html  data from the backend but required format is JSON with same data.
On the other hand _statsJSON is there but the information is limiting.

[2022-01-18 14:59] Sriep commented on #507
I suggest doing this in three stages.
1. Blobber: Add the `read_size` field to the ReadMarker.
2. 0cahin: Change to use the `ReadMarker.read_size` field instead of `read_marker` .
3. Optionally Blobber Remove read_marker field.

[2022-01-18 16:49] krishnemd commented on #502
Shifted the issue to https://github.com/0chain/0chain/issues/921

[2022-01-18 16:49] #502 closed, assigned to nobody

[2022-01-18 17:34] krishnemd commented on #508
As discussed today, UI requires possibly 2 -3  APIs from the present _stats page.

1. Portion above the allocation stats table in one API.
2. Allocations stats portion in one. The API response should not be all the allocations from the table but possibly an aggregation of the column heads.

[2022-01-19 03:33] #503 closed, assigned to nobody

[2022-01-21 06:09] cnlangzi commented on #220
not yet.

[2022-01-23 12:58] Sriep opened #514 "New description field"
Add a new description field to `0chain.blober.yaml`. Pass this to blobber when joining a 0chain network with `add_blobber`.

Works with https://github.com/0chain/0chain/issues/938.

[2022-01-26 10:05] cnlangzi opened #517 "file/thunmbnail are not deleted from disk after `zbox delete`"
physical path is generated by allocation id and content hash.A physical path may be referenced by multiple reference_objects.
- references should be checked before file is deleted from disk.
- stale file should be deleted if a file is changed by `zbox update`

[2022-01-27 11:50] shaktals commented on #471
@cnlangzi @princeparmar what is the status here?

[2022-01-31 10:26] guruhubb commented on #468
@cnlangzi this may not be an issue if we keep chunk size fixed and use batch_chunks

[2022-02-01 03:24] moldis opened #523 "[Infinite storage] While we attaching new volume - need to call chain"
While we attaching a new volume - need to call the chain to update storage size for stacking

[2022-02-03 03:12] lpoli commented on #340
I don't think this is a problem.
Before returning data, ReadMarker is validated, read pool fund is checked and later on it is redeemed. The blobber should redeem it within lock period. The client's token is locked in ReadPool and blobber will have some time to redeem read token.
If some error occurred then it should not be because client were able to tweak the process, rather other issues like net

[2022-02-03 04:46] lpoli opened #524 "Optimize Root Hash Calculation"
Check this function [CalculateHash](https://github.com/0chain/blobber/blob/staging/code/go/0chain.net/blobbercore/reference/ref.go#L381). This function has too many inefficiencies and it can be the cause of postgres going to recovery mode frequently.

I think we should address this function optimization in the following order:
1. Consider having hash calculation in single `for` loop. Currently it

[2022-02-07 18:48] shaktals commented on #471
ping @cnlangzi

[2022-02-08 01:00] princeparmar commented on #471
@shaktals https://github.com/0chain/blobber/pull/465 already completed. waiting for review. PR is linked with issue also.

[2022-02-08 23:14] peterlimg commented on #508
Keep the `_stats`, but gives the response base on the http request header.
Check https://github.com/0chain/0chain/pull/975/files

[2022-02-09 05:08] krishnemd commented on #508
@peterlimg isnt the PR focused on miners and sharder ? We also require the same feature for **blobbers** too.

[2022-02-09 16:36] #468 closed, assigned to nobody

[2022-02-10 07:45] #504 closed, assigned to princeparmar

[2022-02-12 02:59] lpoli opened #535 "Avoid using default json tag"
Check this structure [`Ref`](https://github.com/0chain/blobber/blob/staging/code/go/0chain.net/blobbercore/reference/ref.go#L60). This structure has not used `json` tag and `encoding/json` takes encodes all field names. All fields in json encoding is not required.

Also check other related structure [`paginatedRef`](https://github.com/0chain/blobber/blob/staging/code/go/0chain.net/blobbercore/refe

[2022-02-14 06:52] moldis commented on #266
Not relevant right now

[2022-02-14 06:52] #266 closed

[2022-02-14 06:52] moldis commented on #391
Not relevant right now

[2022-02-14 06:52] #391 closed, assigned to moldis

[2022-02-14 09:48] rizary commented on #439
the gosdk PR change to here: https://github.com/0chain/gosdk/pull/331

[2022-02-14 10:00] lpoli commented on #319
Actually owner can change the read terms and even if client sets who-pays to allocation owner it will be set to requesting client-id in download function.
And if allocation-owner wants himself to pay for the read and client requests with who-pays as himself then owner won't be charged in this case. Its the client who pays.

Above is the implementation but logic looks a bit flaky to me.

[2022-02-14 11:25] #83 closed

[2022-02-14 13:25] Sriep commented on #236
1 is fixed.
2. Might still be an issue? Do we need this block https://github.com/0chain/blobber/blob/staging/code/go/0chain.net/blobbercore/handler/object_operation_handler.go#L292
3. and 4. As far as I can tell user validation is still missing. We could test.
5 A tests added for DownloadFile, others would be nice but probably not urgent.

[2022-02-14 13:32] Sriep commented on #319
I am not sure if this has been fixed. The problem is that the code in [object_operation_handler.go](https://github.com/0chain/blobber/blob/staging/code/go/0chain.net/blobbercore/handler/object_operation_handler.go#L178) is a little confusing. It contains partially implemented code that it is unclear if it does anything.

Are there system tests that check who-pays-for-reads? If not we should add so

[2022-02-14 13:36] Sriep commented on #340
It is probably ok to keep this loophole around unless it actually becomes a problem  Fixing it at the moment might take more effort than it's worth. Still I think we should be aware of the danger.

[2022-02-14 21:54] samtholiya commented on #508
@chauchausoup can you please explain? what is limiting

[2022-02-14 23:02] peterlimg commented on #508
@chauchausoup sorry I mean do it like this: https://github.com/0chain/0chain/pull/975/files#diff-ded9fd4e674db371cbbdd16036c8673e7747e122a4caf61f350abbc9054beea8R617

[2022-02-15 23:25] peterlimg commented on #507
LGTM

[2022-02-16 01:47] #399 closed, assigned to nobody

[2022-02-16 02:36] cnlangzi commented on #440
it should be zcn network issue, not blobber.

[2022-02-16 02:36] #440 closed, assigned to nobody

[2022-02-16 02:37] cnlangzi commented on #440
please reopen issue if it doesn't work on `dev` network.

[2022-02-16 10:14] Sriep commented on #514
Check here for further details here https://github.com/0chain/0chain/issues/921. We want a name, logo description and reference link.

[2022-02-17 01:06] #230 closed

[2022-02-17 08:45] #470 closed, assigned to princeparmar

[2022-02-18 04:08] cnlangzi opened #543 "stale file/thumbnail should be deleted on ./zbox update"
if a file is updated, the physical file path on disk will be changed too. Because the path is generated based on allocation id and content hash. so stale file/thumbnail should be deleted from disk on commitwrite stage.

related to https://github.com/0chain/blobber/issues/517

[2022-02-18 04:16] cnlangzi commented on #543
Maybe this is why we have the [issue](https://github.com/0chain/blobber/issues/448)

[2022-02-20 19:59] Kishan-Dhakan opened #544 "[FEATURE] Provide fee for transactions"
Blobber/validator makes transactions with 0 fees, it won't work on mainnet.
E.g:
[code]

Proposal: to use user provided fees and if not provided use `min_fee` as default.

See:
- https://github.com/0chain/zwalletcli/issues/85
- https://0chain.slack.com/archives/G01FYNN6DK4/p1645097379703449

[2022-02-21 00:41] princeparmar opened #545 "Migrate request data to headers | Download method"
Move all request data from query params to headers and read from there

https://0chain.slack.com/archives/G014PQ61WNT/p1645103830531899?thread_ts=1645091995.668449&cid=G014PQ61WNT

[2022-02-22 23:08] #448 closed, assigned to cnlangzi

[2022-02-22 23:08] #517 closed, assigned to princeparmar

[2022-02-22 23:08] #543 closed, assigned to princeparmar

[2022-02-23 01:50] #304 closed

[2022-02-25 04:08] moldis commented on #523
Duplicated https://github.com/0chain/blobber/issues/498

[2022-02-25 05:53] jkrus commented on #523
[Update blobbers capacity.pdf](https://github.com/0chain/blobber/files/8138845/Update.blobbers.capacity.pdf)

[2022-02-27 16:57] #545 closed, assigned to princeparmar

[2022-02-28 08:01] cnlangzi opened #556 "status code 204 should be returned if file is not found in disk"
check io err `no such file or directory`. status code 204 should be returned like we did on https://github.com/0chain/zboxcli/issues/99

[2022-02-28 08:22] cnlangzi opened #557 "blobber get OOM killed on directory operations"
check more directory tests on https://github.com/0chain/system_test/pull/204

and more detail of bug on https://0chain.slack.com/archives/C0276HLCN5S/p1646034576024189?thread_ts=1645982112.263609&cid=C0276HLCN5S

[2022-02-28 09:49] moldis commented on #523
Duplicated https://github.com/0chain/blobber/issues/498

[2022-03-01 00:39] princeparmar commented on #556
@cnlangzi Already done
Gosdk : https://github.com/0chain/gosdk/pull/396
zBox : https://github.com/0chain/zboxcli/pull/181
Blobber : https://github.com/0chain/blobber/pull/551

[2022-03-01 13:16] Sriep opened #561 "0chain owner can delete unencrypted file."
The [0chain owner](https://github.com/0chain/0chain/blob/staging/docker.local/config/0chain.yaml#L41) should have a manual way to delete an unencrypted file with a public exposed path as authtoken.

Hopefully, we will be able to do this by adding extra validation to the `delete file` endpoint.

[2022-03-01 14:44] sculptex commented on #561
why should chain owner have this ability?

[2022-03-01 16:16] guruhubb commented on #561
chain owner -> future DAO

[2022-03-02 03:38] cnlangzi opened #563 "skip minio setup if it is disabled on 0chain_blobber.yaml"
[code]

slack link https://0chain.slack.com/archives/GREHVKQKS/p1646138082293909

[2022-03-02 23:00] #563 closed, assigned to princeparmar

[2022-03-03 15:40] MurashovVen opened #572 "Condutor: integration tests building is failed"
Logs:
[code]

[2022-03-05 09:47] cnlangzi opened #573 "collaborator should be able to update the file"
collaborator should be able to
- update file

**NB:** owner pays for it

collaborator not able to
- delete file

related system tests should be corrected on

discussion on https://0chain.slack.com/archives/C02AV6MKT36/p1646473501794929?thread_ts=1646472281.781539&cid=C02AV6MKT36

[2022-03-06 07:33] cnlangzi commented on #108
X-Client-App-Id is different from X-Client-App-Key on request signature. id is client_id, key is client_public_key. so let's leave as they are.

[2022-03-06 07:33] #108 closed

[2022-03-09 10:56] PratikDhanave commented on #290
@cnlangzi I like to work on it.

[2022-03-10 04:35] #454 closed, assigned to lpoli

[2022-03-11 10:54] lpoli opened #583 "Use Automigration for gorm to write table schema to database"
Currently sql schema are written in .sql files and are executed before starting blobber. We have also introduced Automigration feature that uses gorm's Automigration function. These two has got mixed up and is confusing.
Also sql schema implementation requires dev-ops intervention which is tedious.

[2022-03-13 23:26] stewartie4 commented on #290
completely agreed @kushthedude - I'd like to see each request logged with a unique transaction id and return this to the user on error https://0chain.slack.com/archives/C028ZCJT6LU/p1628543067137800

[2022-03-15 07:16] cnlangzi opened #588 "directory copying should be supported on `zbox copy`"
please keep eyes on
- WriteMarker
- FileStats

[2022-03-15 11:01] sculptex commented on #345
Regarding creation of table instances of reference_objects per allocation;

As per more recent discussions, we should also include allocation_updates in this optimization.

Full allocation_id (varchar(64)) is too long to include as suffix to e.g. reference_objects_xxxxxxxx, so we should use unique index generated by allocations table itself.

I propose standard for such be obj_idn referring to uni

[2022-03-16 00:55] cnlangzi opened #590 "`createdir` doesn't work"
new folders should be created in `reference_objects`. but nothing is created in db now.

related to https://github.com/0chain/blobber/issues/329

[2022-03-16 01:10] cnlangzi commented on #449
the connection is not closed in some places. It is very easy to hit panicking issue

[code]

<img width="1212" alt="Screen Shot 2022-03-16 at 09 16 59" src="https://user-images.githubusercontent.com/347651/158497658-e5c89f12-5e54-4b1e-a83a-4823141077b6.png">

[2022-03-16 03:31] cnlangzi opened #592 "getobjecttree doesn't work if there is no any file is uploaded"
[code]

reproduce it
- ./zbox newallocation
- ./zbox copy --remotpath / --destpath /dir --allocation $alloc

[2022-03-16 05:25] #471 closed, assigned to princeparmar

[2022-03-16 06:09] #557 closed, assigned to cnlangzi

[2022-03-16 22:16] cnlangzi opened #594 "CORS header should be fixed on download handler"
`download` is migrated from POST to GET on https://github.com/0chain/blobber/pull/540.  and request metadata is moved from body to header. so `Access-Control-Allow-Headers` should be updated. this bug is reported by @ayushgptaa on https://github.com/0chain/block-explorer/pull/638

[2022-03-16 22:26] cnlangzi commented on #594
cc @princeparmar

[2022-03-16 22:50] cnlangzi commented on #385
reproduce it
- ./zbox upload --localpath ~/Downloads/DeskTime.dmg --allocation $alloc --remotepath /dir1/dir2/dt2.dmg
- ./zbox delete --allocation $alloc --remotepath /dir1/dir2
[code]

[2022-03-16 22:52] cnlangzi commented on #385
[code]

[2022-03-16 22:53] cnlangzi commented on #556
a new bug is introduced by 204 on https://github.com/0chain/blobber/issues/385#issuecomment-1069719037

[2022-03-17 05:59] #449 closed, assigned to cnlangzi

[2022-03-17 20:46] #594 closed, assigned to nobody

[2022-03-24 04:09] cnlangzi commented on #439
it is fixed on #600

[2022-03-24 04:09] #439 closed, assigned to rizary

[2022-03-24 04:15] cnlangzi commented on #262
it is done https://github.com/0chain/blobber/blob/2562e810b077830d4a9deab9a0304708800dd708/.github/workflows/tests.yml#L39

[2022-03-24 04:15] #262 closed

[2022-03-28 03:22] cnlangzi commented on #251
there are 3 delete requests on our api
- delete colloborator : "/v1/file/collaborator/"
- delete file: "/v1/file/upload/"
- delete share: "/v1/marketplace/shareinfo/"

[2022-03-28 04:47] moldis commented on #514
https://github.com/0chain/blobber/pull/606

[2022-03-28 10:19] moldis opened #607 "🐛 Remove isIntegrationTest in main code"
`if isIntegrationTest {
		fmt.Print("	[SKIP]\n")
	} else {
		if err := handler.WalletRegister(); err != nil {
			fmt.Println(err.Error() + "\n")
			panic(err)
		}
		fmt.Print("	[OK]\n")
	}
`

and following code using variable `isIntegrationTest` which seems strange to me. None of the main codes should know anything about tests.
Consider removing this variable and using proper mocking instead

[2022-03-28 10:21] moldis commented on #607
cc @cnlangzi seems from your previous code

[2022-03-29 00:36] cnlangzi commented on #607
I think it was introduced by grpc team. @kushthedude  could you check it?

[2022-03-29 04:31] moldis commented on #535
Probably this change will broke all system tests, so consider just include 'json:-' to avoid returning useless data in response

[2022-03-29 04:56] #514 closed, assigned to moldis

[2022-03-29 20:44] Manali-Jain-squareops opened #612 "Blobber-stake Count Issue -> Joining Blobbers Externally"
USING LATEST IMAGE TAG
- Assume test network is running with 6 blobbers and already staked
- Now alpha network joining 1 blobber externally to test network
   - alpha network blobbers registered to test network successfully.
   - while staking alpha network blobbers we give count as 1 which means it should stake only alpha network blobbers.
   - However it is staking 6+1 blobbers [ 6->test network

[2022-03-29 23:43] #590 closed, assigned to cnlangzi

[2022-03-30 03:01] cnlangzi commented on #556
waiting for https://github.com/0chain/blobber/issues/592 to merge first.

[2022-03-30 03:11] cnlangzi commented on #612
@Manali-Jain-squareops  just stake it with your blobber id
[code]

if you want to stake it on 6 blobbers only, please update helm chart to stake them with 6 blobber id
[code]

[2022-03-30 05:21] #151 closed

[2022-03-30 16:39] m-s-a-c commented on #612
Here we are staking the blobbers using docker image produced by [this](https://github.com/0chain/0cloud/blob/master/.github/workflows/build&push-docker-images.yaml ) rather than using cli.

[2022-03-30 23:54] cnlangzi commented on #612
@m-s-a-c  waiting for [PR](https://github.com/0chain/actions/pull/26) to merge. And you can use zbox to stake token like it.

[2022-03-31 00:43] #592 closed, assigned to cnlangzi

[2022-03-31 01:55] #573 closed, assigned to cnlangzi

[2022-03-31 14:33] Manali-Jain-squareops commented on #612
please create a docker image for the same
if we use zbox then the user need a wallet already created and also automation for this will give issue

[2022-04-04 04:08] moldis commented on #319
I gonna pick up this ticket to check/refactor logic

[2022-04-04 05:53] moldis commented on #319
The code includes rx_pay logic already, so I am just adding system_tests https://github.com/0chain/system_test/pull/231

[2022-04-04 07:14] lpoli opened #618 "Document upload process w.r.t. challenge protocol on blobber WIKI"
Explain the details of upload process and how blobber satisfies challenge.

[2022-04-04 13:24] #524 closed, assigned to abouroumine

[2022-04-07 08:35] cnlangzi opened #624 "panicking issue on WriteMarker"
writemarker/writemarker.go:17 [recover] redeemWriteMarker {"err": "runtime error: invalid memory address or nil pointer dereference"}
github.com/0chain/blobber/code/go/0chain.net/blobbercore/writemarker.redeemWriteMarker.func1
/Users/geax/code/geax/github.com/0chain/blobber/code/go/0chain.net/blobbercore/writemarker/writemarker.go:17
runtime.gopanic
/usr/local/go/src/runtime/panic.go:838
runtime.p

[2022-04-08 16:16] #618 closed, assigned to lpoli

[2022-04-08 16:29] lpoli opened #627 "Tasks for blobber's db optimization"
## DB optimization and Root Hash Calculation

Consider there is an update in `/a/b/c/d/e.txt` file. To calculate `ReferencePath` we do the following:
1. Get refs `/` and all children of `/`
2. Get refs `/a` and all children of `/a`
3. Get refs `/a/b` and all children of `/a/b`
4. Get refs of `/a/b/c` and all children of `/a/b/c`
5. Get refs of `/a/b/c/d` and all children of `/a/b/c/d`.

All refs a

[2022-04-09 01:52] #385 closed, assigned to cnlangzi

[2022-04-09 01:52] #556 closed, assigned to princeparmar

[2022-04-09 06:31] cnlangzi commented on #220
@princeparmar  please don't work on this issue. see detail https://0chain.slack.com/archives/G01FYNN6DK4/p1649469438222049?thread_ts=1648693805.910869&cid=G01FYNN6DK4

[2022-04-09 06:45] cnlangzi opened #628 "fix blobber registration flow on blockchain"
the correct logic should be
- register blobber metadata from 0chain_blobber.yml on blockchain if it is a new one. and they should be stored on its own postgresql
- send heartbeat to 0chain instead of duplicated registration if blobber is registered
- zbox bl-update will update blobber settings on 0chain
- blobber should periodically  sync blobber settings from 0chain

for now, it works as
- always

[2022-04-15 02:11] #494 closed, assigned to abouroumine

[2022-04-15 02:11] #507 closed, assigned to lpoli

[2022-04-15 02:11] #535 closed, assigned to nobody

[2022-04-15 02:17] lpoli commented on #345
This issue is incorporated in (https://github.com/0chain/blobber/issues/627)

[2022-04-15 02:17] #345 closed, assigned to guruhubb, lpoli

[2022-04-15 03:28] lpoli commented on #268
To get a count of rows we can create new transaction and use it.

[2022-04-15 03:28] #268 closed

[2022-04-17 04:58] peterlimg opened #639 "Limit the number of dirs and files an allocation could have"
This is (perhaps) a temporary fix for resolving the slow allocation root calculation when there are enormous dirs and files in an allocation. Issue #627 detailed the problem, but we may not consider to do it in splitting tables way. Instead, we will consider to optimize it by organization the dirs and files in MPT tree, discussed [here](https://0chain.slack.com/archives/GREHVKQKS/p1649465569155379

[2022-04-19 13:16] ssardana08 opened #641 "Challenges not getting stored in db"
- Blobber has challenges generated by chain, but not getting stored in blobber db.
- On debugging, found the issue while [decoding /openchallenges response](https://github.com/0chain/blobber/blob/9d6fe7b078eb40d7759b9e70f06ee8e977e1e4ca/code/go/0chain.net/blobbercore/challenge/challenge.go#L49)

[2022-04-20 06:17] cnlangzi opened #644 "panicking issue on loadAllocReadMarkersStat"
2022/04/20 05:21:36 /0chain/code/go/0chain.net/blobbercore/allocation/protocol.go:56 record not found
[3.715ms] [rows:0] SELECT * FROM "allocations" WHERE "allocations"."tx" = '90d61bcd965393b43571c9d627740af0e4ce4893c85d68683a3382113796e912' ORDER BY "allocations"."id" LIMIT 1
2022/04/20 05:21:36 /0chain/code/go/0chain.net/blobbercore/allocation/protocol.go:90 record not found
[0.723ms] [rows:0]

[2022-04-20 08:57] sculptex commented on #639
It seems that even with optimized database and root hash calculations, having many files and folders in a single allocation is inevitably gonna become slow and unwieldy simply for sake of fetching directory/file listings if nothing else.

The list-all option is a particular problem. I know we have pagination in progress but rarely would a user need all this in one go. Perhaps more likely they woul

[2022-04-21 06:38] guruhubb commented on #639
@sculptex this is something the user can manage. We will limit the number of files/directories regardless of our future optimization.

[2022-04-21 08:37] cnlangzi commented on #641
@sum-it08  it should be fixed on #645 ,please check it again.

[2022-04-21 13:08] ssardana08 commented on #641
there were decoding error too, fixed with https://github.com/0chain/0chain/pull/1189

[2022-04-23 00:04] guruhubb commented on #107
@cnlangzi is this related to the write marker issue, which may block @Shrhawk. Also we need the change the name on_cloud to on_chain as its related to Blockchain Awareness

[2022-04-23 00:21] guruhubb commented on #127
Check https://github.com/0chain/0chain/pull/1191#issuecomment-1106784333
Actually we have coverage of this issue via devOps alerts.  @m-s-a-c so not sure we need this.
But we need an automated way to report capacity on the chain when a disk is added to the server.
@cnlangzi @realrisman and @lpoli

[2022-04-23 00:28] guruhubb commented on #498
@lpoli is this same as https://github.com/0chain/blobber/issues/523. If so, lets close one of them.

[2022-04-23 00:30] guruhubb commented on #508
@shaktals can you take a look at https://github.com/0chain/blobber/issues/508#issuecomment-1039659124

[2022-04-23 00:36] guruhubb commented on #301
Is this still an issue @lpoli @cnlangzi @peterlimg

[2022-04-23 00:37] guruhubb commented on #612
Is this still an issue @m-s-a-c @Manali-Jain-squareops

[2022-04-23 03:06] lpoli commented on #127
@guruhubb Its done in disk-utilization pr. I am first merging revert-readcounter pr and then will be testing on disk-utilization pr

[2022-04-23 03:08] #523 closed, assigned to jkrus

[2022-04-23 03:18] lpoli commented on #107
@guruhubb This is actually a field that points whether the file is in disk or on cloud(minio). This is not related to writemarker registered in blockchain.

Its only used by blobber to serve some file. If its on cloud then it will fetch from cloud and serve to the request

So I think this issue can be closed.

[2022-04-23 03:19] Manali-Jain-squareops commented on #612
yes it is even after using script
[code]

In the image 6 blobbers are already registered and staked then added one blobber externally and it is showing above issue.

![image](https://user-images.githubusercontent.com/86873900/164873091-5d4747db-2afb-4db8-bee3-a2d35a7c661b.png)

[2022-04-23 03:25] lpoli commented on #301
It might be fixed when @abouroumine was working on root hash calculation optimization.
I will verify and fix this.

[2022-04-23 03:26] lpoli commented on #498
closed #523

[2022-04-23 04:12] lpoli commented on #340
Client cannot tweak the process.

[2022-04-23 04:12] lpoli commented on #340
@guruhubb client cannot tweak the process. I think this issue can be closed

[2022-04-23 06:36] lpoli commented on #319
@guruhubb  Allocation owner can change this file attribute i.e. can set `WhoPays` variable to either owner or third party. But this information should be stored by blobber and blobber should apply it genuinely for the download request. i.e. We are depending on blobber on this.

I think we should put this `WhoPays` attribute in `auth ticket` itself so that it can be easily redeemed in blockchain as

[2022-04-23 07:32] guruhubb commented on #612
@Manali-Jain-squareops I don't see any staked capacity because it seems the explorer shows a blank column (probably a bug not fixed yet). I see available capacity and client's allocated capacity

cc @shaktals

[2022-04-23 07:47] cnlangzi commented on #107
it can't be closed. because `on_chain` is a new field asked from front-end team. They used `on_cloud` in past code. it is mistake.

[2022-04-23 13:10] shaktals commented on #508
I tried querying https://sculptex.us/blobber51/_stats with header `Accept: application/json` but still received an html response.

[2022-04-23 13:12] shaktals commented on #508
Same for https://dev.0chain.net/blobber01/_stats

[2022-04-23 13:23] shaktals commented on #508
I'll take a look at the root issue, see if I can solve it.

[2022-04-23 17:03] service-0chain opened #652 "Alert on slack if blobber.yaml or validator.yaml are modified."
Create a notification alert on devops channel if any changes are being pushed to validator.yaml & blobber.yaml.

Notification message should contains the below details:
- File changed i.e. either blobber.yaml or validator.yaml

[2022-04-23 17:09] service-0chain commented on #652
Link to PR --> https://github.com/0chain/blobber/pull/650

[2022-04-23 17:09] #652 closed, assigned to vinayakgautamops

[2022-04-23 17:19] service-0chain opened #653 "Blobber conductor tests."
These tests will be written/modified by Roman or Dabasov Yuri.

- [x] Configure a separate server as a github runner.

- [x] Create its github actions to run these whenever required.

- [x] Run these github actions automatically on daily basis.

- [x] Add these tests as a checkpoint before merging the pull requests.

[2022-04-24 03:35] lpoli commented on #639
In my opinion, splitting tables for `reference_objects` would be very good. Its like having separation of concern.
Regarding having limit in files/directories; @guruhubb I think it should also be registered in smart contract just like blobber capacity, so that user can know pre-hand before creating an allocation.

One obvious thing is we should only limit one of number of files/directories in a di

[2022-04-25 00:55] shaktals commented on #612
Explorer reads that info from the getStakePoolState API, as per slack convos [here](https://0chain.slack.com/archives/C0276HLCN5S/p1641328985085600?thread_ts=1641325093.083500&cid=C0276HLCN5S) and [here](https://0chain.slack.com/archives/C02QDMYFQJG/p1649964528572519).

[2022-04-25 01:38] #583 closed, assigned to lpoli

[2022-04-25 02:38] cnlangzi commented on #127
added  https://devanswers.co/you-have-mail-how-to-read-mail-in-ubuntu as smtp alternative solution.

[2022-04-25 05:51] peterlimg commented on #641
@sum-it08 is PR #645 fixed this issue?

[2022-04-25 05:58] ssardana08 commented on #641
@peterlimg #645 fixed one part.
There is another part of the code where decoding issue happened. I have linked a PR to it.. it will go along with challenge PR of 0chain.
This issue should be closed with generate challenge infinite issue..

[2022-04-25 06:34] #624 closed, assigned to cnlangzi

[2022-04-25 06:41] peterlimg commented on #508
@shaktals I think the `Accept: application/json` is what we need to implement.

[2022-04-25 08:54] #628 closed, assigned to cnlangzi

[2022-04-25 09:21] cnlangzi commented on #572
@rrrooommmaaa  please help to fix https://github.com/0chain/blobber/issues/398 and https://github.com/0chain/blobber/issues/653. thanks

[2022-04-25 09:54] moldis commented on #107
Closed

[2022-04-25 09:57] cnlangzi commented on #107
it is not fixed yet

[2022-04-25 10:08] Shrhawk commented on #107
@cnlangzi why its closed ?

[2022-04-25 10:41] moldis commented on #107
Agh, sorry accidentally closed it

[2022-04-25 10:42] moldis opened #656 "File Info, field on_cloud is False even though it has been committed (dublicated)"
Please, refer to https://github.com/0chain/blobber/issues/107

[2022-04-25 11:31] #644 closed, assigned to cnlangzi

[2022-04-25 11:48] cnlangzi commented on #450
fixed

[2022-04-25 11:48] #450 closed, assigned to cnlangzi

[2022-04-25 11:53] cnlangzi commented on #378
blocked by https://github.com/0chain/0chain/issues/1115

[2022-04-25 11:53] cnlangzi commented on #220
blocked by https://github.com/0chain/0chain/issues/1115

[2022-04-25 11:57] #656 closed, assigned to Shrhawk

[2022-04-25 11:59] cnlangzi commented on #107
@Shrhawk a new field `on_chain` should be added on blobber side. and check its related WM before updating it with true. NB. don't make any change on `on_cloud`. it is designed for minio.

[2022-04-26 11:50] cnlangzi commented on #607
@Shrhawk  it is related to https://github.com/0chain/blobber/issues/253. please check it too

[2022-04-26 12:03] thedrunkentrepreneur opened #660 "What happens to allocation post expiry in 0Box (Vult)?"
If a certain allocation expires for a user in 0Box (Vult), we will support storage up to the initial free storage the user signed up for.
We also have to limit the number of CRUD operations that the user can perform.

[2022-04-26 12:35] lpoli commented on #127
@cnlangzi Lets not duplicate the tasks.
I've already update code for updating blobber's size to 0chain.

I assume you only need to implement smtp.

[2022-04-26 12:54] cnlangzi commented on #127
@lpoli  @realrisman is working on this issue. Please guide him or takes over it from him directly

[2022-04-26 12:58] cnlangzi commented on #127
As @lpoli mentioned, it is blocked by https://github.com/0chain/blobber/pull/642

[2022-04-26 13:02] cnlangzi commented on #127
BTW, the blobber info should be synced from blockchain. I am not sure what does mean by `update code to report blobber size to chain`. Please confirm if they are same

[2022-04-26 13:37] #467 closed, assigned to cnlangzi

[2022-04-26 16:10] rrrooommmaaa commented on #572
This is fixed with PR #654

[2022-04-26 16:10] #572 closed, assigned to rrrooommmaaa

[2022-04-27 03:12] cnlangzi commented on #127
@lpoli  is it fine also include this fixing on your PR if only stmp/local spool is not implemented?

[2022-04-27 08:08] Manali-Jain-squareops commented on #612
I mean,
@Kishan-Dhakan  shared blobber-stake script
- when launched 0chain network named as `zcn04` the blobber-stake script executed successfully.
- when launched a blobber named as `race` and joined it to `zcn04`  then the blobber-stake script failed with the [above shared issue ](https://github.com/0chain/blobber/issues/612#issuecomment-1107344108)

[2022-04-27 09:19] Kishan-Dhakan commented on #612
@Manali-Jain-squareops I had kept the checks `number of blobbers should be 6` and `stake all blobbers` for system-test use case, where a new chain always has 6 blobbers and are always unstaked in the beginning. For your use cases, like adding more blobbers after network deployment or staking only unstaked blobbers, I can make it more flexible. Leave it with me.

This is not a `Blobber` issue so cl

[2022-04-29 07:40] lpoli commented on #462
This issue was raised keeping in mind that we are going to use multiple disks with multiple partitions.
Currently we are moving to Raid setup where unlimited storage capacity can be mounted in single partition. Therefore only file management inside single partition is a necessity.

[2022-04-29 07:40] #462 closed, assigned to jkrus

[2022-04-29 08:41] lpoli commented on #607
@moldis Isn't is like having `production` or `development` flag?

[2022-04-29 08:47] lpoli commented on #253
Integration tests has purpose of testing if grpc has well integrated with the blobber. Every integration has tests against grpc service. This cannot be treated as unit test.

Recently unit tests are separated with `!integration` tag, which separates them from integration testing

[2022-04-29 08:47] #253 closed

[2022-04-30 08:45] rrrooommmaaa commented on #653
as soon as https://github.com/0chain/0chain/pull/644 is merged,
the building steps described in https://github.com/0chain/0chain/blob/d9a3398e8a6c78344621c9487a10e64571233d6c/code/go/0chain.net/conductor/README.md can be used to automate gha

[2022-05-01 09:21] moldis commented on #607
@lpoli @cnlangzi The main code should never know about any testing. This frag should be removed and included proper integration testing, it seems previous developer just tried to simplify his life.
And `production` or `development` flags are for `logs` purpose mostly, not related to any tests

[2022-05-02 13:55] sculptex commented on #639
.

[2022-05-04 18:03] guruhubb commented on #107
@avanaur can take this issue to complete the write marker flow

[2022-05-05 03:20] lpoli commented on #301
This issue is non-existent now.

[2022-05-05 03:20] #301 closed

[2022-05-05 15:01] avanaur commented on #639
@peterlimg @cnlangzi @lpoli  @guruhubb @sculptex

I am planning to work on this next. Would like to confirm the following
1. New limit is on the total combined directories and files allowed per allocation
2. The config will be named `max_dirs_files` and will live in blobber (is this a global config? can another blobber config vary?)
3.  Will start with 1000 limit (is this a sensible number?)
4. Ma

[2022-05-05 22:06] avanaur commented on #607
@cnlangzi is this part of conductor testing where the main binary is built for integration test?

It seems there is `integration` env var is expected instead of just having `integration_tests` build flag. I can remove that env var check and refactor to using the build flag. Is there a change elsewhere needed where that `integration` env var is set and perhaps building the binary without the build

[2022-05-06 00:25] #107 closed

[2022-05-06 00:31] cnlangzi commented on #607
@avanaur  there are two tests that is named `integration-*` by different developers. it is confused now
- https://github.com/0chain/blobber/blob/902adcfc57eb8773f9874e8645ee2ae645848ded/.github/workflows/tests.yml#L64
- https://github.com/0chain/0chain/blob/d1cd42944494bc5d85e5d1fa4b46580ea245a336/.github/workflows/build-conductor-blobber-test.yml#L89
I would suggest to improve naming for them. 1s

[2022-05-06 00:32] cnlangzi commented on #607
I think @moldis doesn't know it very well, so please feel free to improve them with any better way.

[2022-05-06 00:35] #508 closed, assigned to shaktals

[2022-05-06 00:37] cnlangzi commented on #607
FYI: https://github.com/0chain/blobber/issues/653 and https://github.com/0chain/blobber/issues/398

[2022-05-06 00:58] cnlangzi opened #670 "fix security issues suggested by code-scanning"
see detail https://github.com/0chain/blobber/security

[2022-05-06 01:02] cnlangzi opened #671 "request limit on CRUD operations"
add a limit on the number of CRUD operations that the user can perform on an allocation to prevent Byzantine attacks.

[2022-05-06 09:10] sculptex commented on #639
Conversation moved to slack

[2022-05-06 11:53] sculptex commented on #671
@cnlangzi If users are paying for CRUD operations then what is the issue? I am not sure about Move/Rename operations though, should they have fee?

Rate limiting will seriously damage UX, consider that only a small number of users might be performing CRUD operations at any point in time.

[2022-05-06 13:28] service-0chain commented on #398
working on same as --> https://github.com/0chain/blobber/issues/653

[2022-05-06 13:36] service-0chain commented on #653
@rrrooommmaaa
gitactions are created and pushed to `staging` but blobber gh is failing due to `pull access denied for blobber_base, repository does not exist or may require 'docker login': denied: requested access to the resource is denied`.

last gitaction --> https://github.com/0chain/0chain/runs/6322207695?check_suite_focus=true

[2022-05-06 13:36] service-0chain commented on #653
@rrrooommmaaa
gitactions are created and pushed to `staging` but blobber gh is failing due to `pull access denied for blobber_base, repository does not exist or may require 'docker login': denied: requested access to the resource is denied`.

last gitaction --> https://github.com/0chain/0chain/runs/6322207695?check_suite_focus=true

[2022-05-06 13:40] #398 closed, assigned to m-s-a-c

[2022-05-06 17:20] sculptex commented on #671
@cnlangzi on re-reading the above, I should clarify that I agree we should prevent Byzantine attacks, but just make sure limits are not so strict as to infringe upon legitimate CRUD operations.

[2022-05-07 00:03] avanaur commented on #607
@cnlangzi just to set the expectation on this ticket.

I will convert the local integration/component tests to unit tests so there is no need to start blobber with `integration=1` env var. There seems to be 16 tests affected so porting may take a while as I may need to understand how each test works.

We can still go with just moving over test codes living on productions codes to their own respect

[2022-05-07 04:20] Manali-Jain-squareops commented on #612
@Kishan-Dhakan  @m-s-a-c  please check this i have used  latest staging tag
- joined blobber externally and got
[code]

[2022-05-08 15:02] guruhubb commented on #319
I agree

[2022-05-09 06:49] peterlimg opened #673 "Challenges are not verified"
The challenges are not being verified and validated by Blobbers and validators due to the API changes of `/openchallenges` and `/getchallenge` in 0chain repo. We need to fix this ASAP.

[2022-05-09 07:31] cnlangzi commented on #673
it is same as https://github.com/0chain/blobber/issues/641. I will fix it.

[2022-05-09 07:48] cnlangzi commented on #254
grpc protocol doesn't work on wasm. I think we don't need this feature yet. we can raise new issue if it is necessary in future.

[2022-05-09 07:48] #254 closed

[2022-05-09 07:50] cnlangzi commented on #122
blobber hanlders are proxy by nginx in k8s. I don't think we need it on blobber side.

[2022-05-09 07:50] #122 closed

[2022-05-09 08:05] service-0chain opened #674 "Change github hosted runner to self hosted runners."
@cnlangzi
kindly replace the github runner with self hosted runners --> https://github.com/0chain/blobber/blob/902adcfc57eb8773f9874e8645ee2ae645848ded/.github/workflows/tests.yml#L66
Tags that can be used for self hosted runners are as `self-hosted`

[2022-05-09 08:31] cnlangzi commented on #674
@service-0chain  `integration-tests` didn't work properly on `self-hosted`. that is why it is `ubuntu-20.04`. I will try to test it again.

[2022-05-09 08:51] service-0chain commented on #674
if it fails please tag @m-s-a-c to look into it.

[2022-05-09 15:31] #641 closed, assigned to cnlangzi

[2022-05-09 16:09] lpoli opened #675 "Release thumbnail dependency"
Since thumbnail's content is unchecked and blobber don't require to pass challenge for thumbnail there are two problems:
1. Blobber won't store thumbnail content, thus having inconsistency between blobbers
2. Client would store large amount of data through thumbnail to minimize actual file write cost.

The solution would be to upload thumbnail as actual file and use field named `thumbnail` that st

[2022-05-10 10:54] Kishan-Dhakan commented on #612
@Manali-Jain-squareops did you update blobberCount after joining new blobbers?

[2022-05-10 12:56] Manali-Jain-squareops commented on #612
yes

[2022-05-12 09:03] Sriep commented on #340
[code]
The problem was that the read_redeem and the download were done on separate parallel threads. So some data gets downloaded during the read_redeem transaction and before read_redeem fails, if it fails. I have not tested recently to see if this is still happeninging.

[2022-05-12 16:09] service-0chain commented on #612
@Kishan-Dhakan
Do we need to stake the externally joined blobbers or the blobber owner will be staking itself using explorer?

If user is staking the blobbers itself. That's fine but when we stake the blobbers i.e. associated to that network, staking fails using your script.

[2022-05-13 09:15] avanaur commented on #127
@lpoli @cnlangzi Just to clarify. Is this currently blocked and waiting for #642 before can proceed?

Also, to verify the scope of this ticket.
1. Create a script that check a blobber's total and used capacity from chain through /getblobbers
2. The script should run N times per day (default 1)
3. The script should notify blobber if used capacity portion is > X%
4. The script should be scheduled up

[2022-05-13 11:50] cnlangzi commented on #127
@lpoli  said some of them are done on his PR https://github.com/0chain/blobber/pull/642. let's waiting for @lpoli  to confirm it.

[2022-05-13 12:29] lpoli commented on #127
It will be merged by today I think

[2022-05-13 13:04] #498 closed, assigned to lpoli

[2022-05-14 09:22] #251 closed

[2022-05-16 05:51] lpoli commented on #340
I've not seen it being parallel operation.
But later on we have to use go routines to make reads faster, but also wait for pre-read redeeming.

@Sriep I assure you that we can close this issue for your above concerns

[2022-05-18 07:57] avanaur opened #684 "Minimum value for allocation size"
Should have a minimal value for the allocation size to avoid the blobber mistakenly configured the allocation with limit size too small. This minimal value can be hard coded.

[2022-05-19 04:06] service-0chain commented on #653
@cnlangzi
@rrrooommmaaa had created the conductor tests & @m-s-a-c  have created gitactions for performing blobber conductor test. But conductor tests are failing due to some blobber issue as reprted by @rrrooommmaaa.

gh actions --> https://github.com/0chain/0chain/actions/workflows/conductor-blobber-tests.yml

After every run report is uploaded over to the gh action run. You can check it for ana

[2022-05-19 07:55] avanaur commented on #127
As discussed offline, this is no longer required.

[2022-05-19 07:56] avanaur commented on #684
There was misunderstanding on discussion offline. This ticket is not required to implement.

[2022-05-19 07:56] #684 closed, assigned to avanaur

[2022-05-19 08:19] #674 closed, assigned to cnlangzi

[2022-05-20 00:14] cnlangzi commented on #653
run `./docker.local/bin/build.base.sh` to build `blobber_base` docker image first. it will be fixed.

[2022-05-20 07:05] cnlangzi opened #687 "panicking issue on automigration"
if skip `db.Migrator().DropTable(tableName)`, migration panics

<img width="1460" alt="Screen Shot 2022-05-20 at 15 04 43" src="https://user-images.githubusercontent.com/347651/169472395-0106fd9c-7e57-460e-8169-b4b7f9edd3d4.png">

[2022-05-20 12:14] Kishan-Dhakan opened #688 "Add multiple API providers to convert ZCN to USD"
- We need to ensure we have multiple API providers to convert ZCN to USD so we don't hit rate limits on any one provider. Alternatively, we can buy a plan from any one vendor.
- See: https://0chain.slack.com/archives/C02AV6MKT36/p1652775265327279

[2022-05-20 23:44] #639 closed, assigned to avanaur

[2022-05-21 14:08] avanaur commented on #671
@cnlangzi there seems to be an API rate limiter already in place based on caller IP (user). Although it was set to 0 at the moment.

https://github.com/0chain/blobber/blob/staging/code/go/0chain.net/blobbercore/handler/handler.go#L37
https://github.com/0chain/blobber/blob/da3feebad661a56daffbaa17fc79554ed6d2d325/config/0chain_blobber.yaml#L71

do you still need separate rate limiting based on allo

[2022-05-23 19:46] sculptex opened #691 "File listing Optimization Proposal"
Retrieving file listings, and in particular `list-all` will increasingly become more resource hungry as the number of files and directories in an allocation grow

Separate to having a folders-only option, here is an idea how file listings could be done more efficiently for large numbers of files, (compared with apparent current method that client requests lists from all blobbers and seeks sufficie

[2022-05-25 06:43] cnlangzi opened #695 "challenge response should be committed in parallel"
discussion is https://0chain.slack.com/archives/GREHVKQKS/p1653460904462609?thread_ts=1650464242.541999&cid=GREHVKQKS

[2022-05-27 04:23] #673 closed, assigned to cnlangzi

[2022-05-27 07:54] cnlangzi opened #697 "it is not good to drop all tables on startup"
based on the logic, it has to be configured on 0chain_blobber.yml if a new table should not be dropped on startup. but 0chain_blobber.yml is not managed by blobber repo, is managed by 0helm with deveops team.  for 3rd blobber services , it is managed by its provider. so it is impossible to update/add it by developer.

It is better to keep all tables as default behavior. if not, all data will be lo

[2022-05-27 22:46] stewartie4 commented on #588
zbox: download, rename, move, delete & share folder also does not work

[2022-05-27 23:36] stewartie4 opened #699 "List endpoint only works on directories"
When calling list with a filepath pointing to a file, an empty result is always returned.
However calling list with a filepath pointing to directory, the results are returned as expected

Is list only intended for directories (as opposed to the ls command in unix which supports files and directories for example)

If so, this needs to be made clear as it is confusing as-is

[2022-05-30 08:32] moldis opened #700 "Need to add extra field to files table "starred" true/false"
We need it in frontend to star/unstar file and display in favorites view. Apply on both files and folders

[2022-05-30 08:44] moldis opened #702 "We need to get the list of recently added files"
I believe it's possible to do with write markers, also we need pagination for this endpoint

[2022-05-30 13:16] avanaur commented on #700
@cnlangzi @moldis

Got clarifications:
- Should this `starred` attribute be on a  file-level such that it appears as `starred` for any client or this would be a client and file combination like a personal preferences? At the moment, I assume the former.
- Are both owner and collaborators allowed to update this `starred` value? I assumed only owner can update given this apply on file-level.
- Is ch

[2022-05-30 23:02] stewartie4 opened #704 "Finalize Allocation is broken"
Not sure if this issue belongs on the blobber side or with the CLI:
Finalizing an allocation seems broken with the error message:
Error finalizing allocation:fini_alloc_failed: allocation is not expired yet, or waiting a challenge completion

Steps to reproduce:
- Create an allocation
- Wait for the allocation to expire, or manually expire it early
- Run ./zbox alloc-fini

[2022-05-31 10:02] #340 closed, assigned to lpoli

[2022-06-01 01:00] cnlangzi commented on #697
there are 3 user-cases that need to be clarified how they work
- tables are configured to keep on yml file. how it works if any table should be migrated(eg add new columns , drop some old columns).
- tables are not configured to keep on yml file. how to keep blobber's data safe if server/blobber is restarted
- how to let blobber knows which table should be configured, or not? eg a new table is add

[2022-06-01 01:12] cnlangzi commented on #704
it might be blocked by `waiting a challenge completion`. for now, challenge will be generated in every round. it might be the problem. Blobber might be picked up to pass challenge in every round.  because there are only 6 blobbers in our test networks. cc @peterlimg  @sum-it08

[2022-06-01 07:18] cnlangzi opened #706 "json unsupported bug on RedeemWriteMarker"
2022-06-01T15:15:15.894+0800	ERROR	writemarker/protocol.go:128	Error verifying the close connection transaction	{"err:": "transaction_verify_error: Error unmarshaling verify output. json: cannot unmarshal string into Go value of type map[string]json.RawMessage", "txn": "bc343dc0cafbc0ee4568b0fe19d92f96b89091896d8f1bed22b89dbfd4e6489d"}
github.com/0chain/blobber/code/go/0chain.net/blobbercore/write

[2022-06-01 08:42] cnlangzi commented on #706
another json bug

[code]

[2022-06-01 08:44] cnlangzi opened #708 "`HealthCheck` sc seems be broken"
[code]

<img width="1868" alt="Screen Shot 2022-06-01 at 16 48 47" src="https://user-images.githubusercontent.com/347651/171365723-66acc394-2cc1-41b7-a09e-9f9bfae835d5.png">

[2022-06-01 12:55] peterlimg commented on #708
@cnlangzi  please check if the heath check API on 0chain was changed, otherwise need to check the 0chain logs to see why the txn failed.

BTW, can we display the `last_health_check` time in a readable format.

[2022-06-01 13:11] peterlimg commented on #704
This error is reported when the finalize txn timestamp value is less than the `allocation expiration time + the challenge completion time`. so if the default challenge completion time is 3m, then we will see this error in 3m after we expired the allocation manually. Please wait till the challenge completition time is passed, and see if still have the error.

[2022-06-01 13:21] #706 closed, assigned to cnlangzi

[2022-06-01 13:57] cnlangzi commented on #708
raised issue on https://github.com/0chain/zboxcli/issues/244

[2022-06-01 14:56] stewartie4 commented on #704
Thanks for this guys, I'll tweak the test and report back

[2022-06-01 22:39] stewartie4 opened #711 "New owner cannot download encrypted file after allocation ownership is transferred"
After an allocation has been transferred, the new owner cannot download any file in the allocation that is encrypted, they can only download non-encrypted files from the allocation.

Steps to reproduce:

#SET UP ORIGINAL WALLET, ALLOCATION AND UPLOAD ENCRYPTED FILE
./zbox register
./zwallet faucet --methodName pour --tokens 1.000000 --input {}
./zbox newallocation --expire 1h --size 204800 --lock

[2022-06-02 00:38] guruhubb commented on #700
Responses below:

- Its file-level attribute, so allocation can change ownership and it won't affect it.
- owner
- correct, no hash change
- yes regardless of paths
- yes we should paginate in the future, so raise it separately as a post-main net issue

[2022-06-02 01:28] peterlimg commented on #612
@Manali-Jain-squareops @service-0chain it's the blobber owner's responsibility to do the staking. The staking script is a helper tool for devops to do quick staking work.

[2022-06-02 01:32] #612 closed, assigned to m-s-a-c

[2022-06-02 09:10] cnlangzi commented on #711
@guruhubb @peterlimg  is it possible to transfer an encrypt file to other guy? how to handle encryption key?

[2022-06-02 09:41] sculptex commented on #711
This is known issue, draft NFT doc had explanation requiring re-processing of such encrypted files by new owner.

@cnlangzi My (interim) suggestion was that a (non-expiring) PRE share(s) to new owner be created before transfer and that we have facility to read files via those existing authtickets even though owner changed. This doesn't require any new tech.

[2022-06-02 10:17] sculptex commented on #700
First point, for file-level starred function to work on any client sounds like it would require dB entry on blobbers with high performance impact

I am pretty sure this should be independent on a client basis, to implement on backend that manifested all clients would open up a huge can of worms.

[2022-06-02 22:15] stewartie4 commented on #704
Thanks for this, all seems to be working correctly after waiting for max challenge time
Closing this issue.

[2022-06-02 22:15] #704 closed, assigned to nobody

[2022-06-03 13:22] #378 closed, assigned to cnlangzi

[2022-06-03 13:22] #220 closed

[2022-06-03 14:20] lpoli commented on #702
@moldis We cannot do it with write markers. We can only take timestamp from write marker and ask blobbers for recently updated files. For this all blobber's timestamp for file should be in sync in each other. We can achieve this if timestamp is taken from write markers for all refs while the commit request is made. So there are two tasks for this task.

1. Take timestamp from write marker so that

[2022-06-04 01:50] lpoli commented on #687
Fixed by https://github.com/0chain/blobber/pull/705

[2022-06-04 01:50] #687 closed, assigned to lpoli

[2022-06-04 01:50] lpoli commented on #697
Fixed by https://github.com/0chain/blobber/pull/705

[2022-06-04 01:50] #697 closed, assigned to lpoli

[2022-06-04 04:42] #695 closed, assigned to avanaur

[2022-06-05 01:23] stewartie4 opened #715 "upload syntax should take into account trialing slashes"
./zbox upload --localpath  ./file --remotepath /newdirectory/

Ignores the trailing slash uploads to the file "file" to the root directory under the filename "newdirectory"

the command is treated exactly like
./zbox upload --localpath  ./file --remotepath /newdirectory

This is confusing to the end user, most would expect the first command to upload to the folder "newdirectory" whereas the second

[2022-06-08 12:14] #708 closed, assigned to cnlangzi

[2022-06-08 23:34] peterlimg commented on #671
Users are paying their CURD operations and we actually has the rate limit code implemented, so I'll close this issue.

[2022-06-09 00:12] cnlangzi commented on #236
@peterlimg  it might be fixed by https://github.com/0chain/blobber/pull/717. let's leave it with @lpoli . @lpoli  is it right?

[2022-06-09 00:38] cnlangzi commented on #671
@peterlimg it doesn't work properly now. Because it has to be closed in ChunkUpload requests if a file is uploaded with a lot of chunks.  but we still need to limit other operations to prevent DDoS .  @Kishan-Dhakan  could you add a test on your DDoS testing?
@avanaur  please try to improve it for ChunkUpload. Because chunk can be uploaded without paying. WriteMarker is processed only on CommitWri

[2022-06-09 03:19] guruhubb commented on #711
Yes don't worry about this @cnlangzi. I agree with @sculptex. The new owner needs to get permission to download the encrypted files from previous owner, and then re-upload them which is not part of the protocol.

[2022-06-09 03:21] cnlangzi commented on #711
@guruhubb so he has to download and re-upload file. and this issue can be closed. cc @stewartie4 @sculptex

[2022-06-09 08:39] stewartie4 commented on #711
Sorry I'm not getting something - the issue here is that the new owner cannot download the file
So they'll not be able to re-encrypt and re-upload

It's not sustainable for important encrypted files to be perminantly inaccessible to the new owner without warning

[2022-06-09 09:26] lpoli commented on #711
@stewartie4 the logic is that the owner who is supposed to transfer allocation is supposed to provide re-encryption key to the new owner so that later on he can download and upload it again.

New owner needs to download the file and re-decrypt it and upload to the allocation. Little work still needs to be done. Current implementation has  re-decryption associated with auth-ticket. For the new owne

[2022-06-09 10:08] stewartie4 commented on #711
Yep that's what i'm getting at - today we don't have this ability
The CLI could handle this for the end user by retrieving the key and re-uploading (ideal)
OR
We add a flag on download that allows us to provide the key manually (not ideal)

Either way I think a change needs made to support this properly because today these files are inaccessible forever

[2022-06-09 22:28] cnlangzi commented on #711
@stewartie4  as @sculptex 's suggestion

1. owner share encrypt file by PRE to new owner. It is an auth-ticket
2. new owner download encrypt file by the auth-ticket first.
3. owner transfer his allocation to new owner
4. new owner upload encrypt file to his allocation

does it work via cli now?

[2022-06-09 22:51] cnlangzi opened #719 "ChallengeCompletionTime should be removed from Terms on blobber registration"
related to https://github.com/0chain/0chain/issues/1369

discussion on https://0chain.slack.com/archives/C03788G8N2D/p1654621796262099

[2022-06-10 01:03] peterlimg commented on #719
duplicate with https://github.com/0chain/0chain/issues/1230

[2022-06-10 01:05] lpoli commented on #711
@cnlangzi So if there are thousands of such encrypted files then owner needs to generate authtickets for all the files and provided to new owner. New owner has to download all those thousands files one by one and store it in local. After owner transfers his allocation new owner has to upload them all.

It seems too much tedious work.

Better is;
1. owner generate re-encryption key and provide it t

[2022-06-10 01:09] lpoli commented on #236
@cnlangzi It will fix. I've to some work left there.

[2022-06-10 01:18] cnlangzi commented on #719
@peterlimg  https://github.com/0chain/0chain/issues/1369 is duplicated with https://github.com/0chain/0chain/issues/1230 . leave this issue to fix blobber code

[2022-06-10 09:34] sculptex commented on #711
@lpoli  just to clarify in context of NFTs for which this feature was introduced, many encrypted files will probably not be typical. Encrypted NFTs are just an option, currently NFTs stored on IPFS don't even have this ability!

However, it sounds like your suggestion is similar to mine but without the need for authticket(s)? In which case it's obviously a good option.

But please just clarify, is

[2022-06-10 14:06] lpoli commented on #711
@sculptex Exactly yes. We don't need previous owner's private key or whatsoever. We only need re-encryption key from previous owner.

[2022-06-10 14:14] guruhubb commented on #711
@lpoli @stewartie4 we're not doing this on the protocol or cli. The application can do this. lets not waste any more time on this

[2022-06-12 14:31] sculptex commented on #700
@guruhubb this will have terrible impact on blobber dB, is basically order of magnitude worse than list-all

[2022-06-12 14:50] #711 closed, assigned to cnlangzi

[2022-06-13 14:01] lpoli commented on #700
We cannot have client specific starring. Allocation owner can specify their files/dirs to be starred but I don't see significance of starring.
Also I don't think we are ready to do this in current blobber's architecture.

[2022-06-13 14:22] ssardana08 opened #726 "Commit Connection Delay"
commit connection is being called after ~80-100 sec of upload.
This is quite inconsistent behaviour.
Please analyse and fix if any bug.

[2022-06-14 12:12] avanaur commented on #700
⚠️ This is currently halted. From offline discussion, this functionality is not best to have on blobber. Alternative solution is currently considered.

[2022-06-14 14:36] service-0chain commented on #653
@cnlangzi
we are already running this to build `blobber_base`

[2022-06-14 14:45] avanaur commented on #699
@peterlimg @cnlangzi should we support non-directory on `zbox list`? I am thinking no and we can simply indicate on `zbox list` that it expects the `--remotePath` provided is a folder and will try to list contents. Same for `--authticket` param.

[code]

If there are no concerns, I'll raise a PR to update the `list` description and the description of the params mentioned.

[2022-06-15 01:22] peterlimg opened #728 "Allocation ownership transfer is not synced from 0chain"
Related issue https://github.com/0chain/gosdk/issues/765

[2022-06-15 13:43] avanaur commented on #700
.

[2022-06-16 06:10] peterlimg commented on #699
@avanaur I think we need to return the file if the `remotePath` points to a file.

[2022-06-17 00:36] cnlangzi commented on #728
@peterlimg  all allocation changes should be synced from blockchain. eg size, write_price, read_price...etc

[2022-06-17 13:53] #715 closed, assigned to avanaur

[2022-06-18 09:28] #719 closed, assigned to cnlangzi

[2022-06-18 11:59] ssardana08 commented on #726
@Kishan-Dhakan post this.. we should not wait for long for 1st challenge to be generated

[2022-06-18 12:07] ssardana08 opened #732 "Challenge error on blobber"
[code]

[2022-06-22 00:53] #699 closed, assigned to avanaur

[2022-06-24 10:42] lpoli commented on #506
What about the definition of `rank`, `commission` and `node diversity`?
Please explain them as well.

[2022-06-24 10:49] lpoli commented on #277
@guruhubb
I would like to propose one simple solution for this.
Currently we don't have consistent datetime values of `created_at` and `updated_at` among blobbers. Its better to have same datetime values. Blobber should take this value from writemarkers.
We can let client(`gosdk`) send this value to blobbers.

For the validation of metadata, lets also send signature of client to each refs. So that

[2022-06-24 11:02] lpoli commented on #728
@peterlimg @cnlangzi
What should be done to this issue?

[2022-06-24 11:04] lpoli commented on #726
@sum-it08 Please also clarify what is this commit-connection?
Is it commit request from client to the blobbers? Or is it sending write marker transaction to 0chain by blobbers?

[2022-06-24 12:51] lpoli commented on #700
@avanaur
What is happening with this issue?
It needs to be done in gosdk.
Are you on it?

[2022-06-24 16:16] lpoli commented on #476
@Sriep Can you please explain this a bit more with some appropriate links?

[2022-06-26 14:47] lpoli commented on #544
@moldis Any progress on this?

[2022-06-28 01:35] cnlangzi commented on #732
@sum-it08  the error is thrown by blockchain. it says `verify_challenge: could not find challenge, value not present`. I will fixed the json error message

[2022-06-29 03:19] cnlangzi opened #738 "sql error on allocation_fetch"
[code]
detail https://0chain.slack.com/archives/C01GMABG2T1/p1656472583372719?thread_ts=1656464433.865429&cid=C01GMABG2T1

[2022-07-01 00:41] lpoli commented on #738
@cnlangzi This is not blobber issue.
It is smartcontract issue in 0chain.

[2022-07-01 00:53] cnlangzi commented on #738
let's transfer it to 0chain.

[2022-07-01 05:16] lpoli commented on #671
@avanaur What is the progress with this issue?

[2022-07-01 07:21] ranajahanzaib commented on #506
@chauchausoup is no longer with us, and I joined a few weeks before he left. Our senior lead @shaktals has also left, so I suspect anyone else from the front-end team would know.

For now, I'm marking it `wontfix`. Please, feel free to close it, if needed in the future, we can re-open this issue.

[2022-07-01 08:36] cnlangzi commented on #726
it works on local testing
[code]

[code]

[2022-07-01 11:00] #506 closed, assigned to nobody

[2022-07-02 14:26] moldis commented on #702
@lpoli sounds good. Is it possible to merge it into single endpoint?

[2022-07-04 03:44] #319 closed

[2022-07-08 14:08] #732 closed, assigned to cnlangzi

[2022-07-12 11:52] #675 closed, assigned to lpoli

[2022-07-12 11:54] #236 closed

[2022-07-18 03:50] #607 closed, assigned to avanaur

[2022-07-21 12:47] ssardana08 commented on #726
@lpoli it's sending write marker transaction to 0chain by blobbers

[2022-07-24 04:16] #671 closed, assigned to avanaur

[2022-07-30 23:11] cnlangzi opened #773 "blobber settings have to be updated with owner wallet"
do you think we should restrict to execute `add_blobber` only once from the same blobber? and add a new sc to update capacity from blobber server?

[2022-07-30 23:12] cnlangzi commented on #773
removed StartUpdateWorker by https://github.com/0chain/blobber/pull/772 first.

[2022-08-04 15:00] fabioDMFerreira opened #780 "Download fails if one blobber is down"
**Steps**

1. Launch 1 sharder and 3 miners;
2. Start 0dns
3. Launch 3 blobbers
4. Initialize allocation
5. Upload 1 file
5. Stop 1 of the blobbers
6. Download 1 file

You can easily replicate this using the conductor test `blobber-1`.

**Actual**

Download fails with the next error
[code]

**Expected**

Download the file with success.

[2022-08-07 08:57] lpoli commented on #780
Can you also specify data/parity ratio and size of file?

[2022-08-08 08:57] fabioDMFerreira commented on #780
This is the command used to create the allocation
[code]

I guess the answer is 2 for data and 1 for parity ratio. The size of the file is 5 MB.

[2022-08-08 09:52] sculptex commented on #780
@fabioDMFerreira did you check the remaining 2 blobbers included in that allocation are operational? It should show in debug output if you don't specify --silent

[2022-08-08 13:32] ssardana08 opened #787 "Fetch challenge completion time from 0chain"
API to use: `v1/screst/6dba10422e368813802877a85039d3985d96760ed844092319743fb3a76712d7/storage-config`

It should fetch in the beginning and the in background can update this value. But remove it from config and fetch via 0chain API

[2022-08-08 13:37] fabioDMFerreira commented on #780
@sculptex yes, the remaining blobbers were operational. I just ran the test again and I have logs in my machine I can share.

I found the next error in both blobbers logs. Wondering if it is useful.
[code]

[2022-08-09 14:08] fabioDMFerreira opened #791 "Unable to upload after a blobber has stopped"
**Steps**
1. Launch 1 sharder and 3 miners;
2. Start 0dns
3. Launch 4 blobbers
4. Stake tokens on the 4 blobbers
5. Upload file and then remove it
6. Stop one of the blobbers
7. Upload file (`./zboxcli/zbox --wallet testing.json upload \
    --allocation "$(cat ~/.zcn/allocation.txt)" \
    --localpath="$(pwd)/testrepair/repair1.bin" \
    --remotepath=/remote/repair/repair1.bin`)

**Expected**
I

[2022-08-09 14:09] fabioDMFerreira commented on #791
Prob. this a zbox problem and not a blobber problem. If one of the blobber is unreachable we should just skip the uploading of the file to this service.

[2022-08-10 15:30] ssardana08 opened #794 "Challenge process slow"
Current challenge execution is slow and unable to process challenges within challenge_completion_time and hence leading to all failures.
<img width="1226" alt="image" src="https://user-images.githubusercontent.com/103603196/183944954-66c06e1a-390a-4f3f-8746-99d660be4b8c.png">

[2022-08-11 11:13] #794 closed, assigned to ssardana08

[2022-08-12 06:47] cnlangzi opened #796 "fk_reference_objects_commit_meta_txns issue on file deletion"
[code]

[2022-08-12 07:07] cnlangzi opened #797 "minio feature should be removed"
https://0chain.slack.com/archives/C035RK9PTU0/p1660174314193749?thread_ts=1659972424.451819&cid=C035RK9PTU0

[2022-08-12 08:19] cnlangzi commented on #796
reference_object is deleted without soft deletion on https://github.com/0chain/blobber/pull/678. but commit_meta_txns is not deleted. and it will trigger `violates foreign key constraint` error on file deletion.

[2022-08-12 13:53] cnlangzi opened #799 "`createdir` stops to work"
[code]

[2022-08-12 15:27] #796 closed, assigned to cnlangzi

[2022-08-18 15:52] lpoli opened #805 "Work on GRPC rate limiter"
Rate limiter is implemented for http scheme.
Rate limiter for grpc will be done in post-mainnet.

[2022-08-22 06:50] lawRathod commented on #476
Requires https://github.com/0chain/0chain/pull/1553 to be merged.

[2022-08-22 08:32] vinayakgautamops opened #806 "Can't move tokens to blobber: uint64 overflows int64"
Faced issue in the dev network blobber.

For more details: https://0chain.slack.com/archives/C02PLQHMPNG/p1661154241681849

Blobber logs:
[code]

[2022-08-22 09:06] Sriep commented on #476
We should send the transaction type, upload, delete, update, move, copy or rename to 0chain when committing the transaction. So we need to add this to the write marker.

[2022-08-23 14:50] fabioDMFerreira opened #808 "Upload requires all blobbers to work properly"
n data + 1 parity blobbers should be enough to allow a client to upload.

**Steps**
1. Launch network with 3 miners, 1 sharder and 4 blobbers.
2. Adapt one of the blobbers to not respond to the upload request.
3. Create an allocation, stake tokens and upload a file.

**Expected**
File to be uploaded.

**Actual**
The upload fails with the next errors
[code]

**More info**
The command used to create

[2022-08-24 08:40] fabioDMFerreira commented on #808
Worth to check after the fix of this issue whether #791 and #780 are resolved.

[2022-08-24 08:46] fabioDMFerreira opened #810 "Download and upload fail if one of the blobbers return an error"
n data + 1 parity blobbers should be enough to allow a client to do all operations.

**Steps**

1. Launch network with 3 miners, 1 sharder and 4 blobbers.
2. Adapt one of the blobbers to return an error to the upload/download request.
3. Create an allocation, stake tokens and upload/download a file.

**Expected**
File to be uploaded/downloaded.

**Actual**
On upload the next errors show up:
[code]

[2022-08-26 12:23] lpoli commented on #780
It is always required to be able to get data from `data + 1` number of blobbers. In above case `data` is 2 and `parity` is 1. In total of 3 blobbers if one fails, then we are not able to get data from `data + 1` number of blobbers.
So failing in this case is normal.

[2022-08-26 12:23] #780 closed, assigned to nobody

[2022-08-31 09:35] Manali-Jain-squareops opened #817 "Capacity is updated by itself and not by config file"
- the capacity i have given to blobbers capacity: 10737418240  which is 10GiB
- for few minutes diagnostics page showed 10GiB
- but after some time on diagnostics page it is showing some other value and this same value is visible on CLI as well
![image](https://user-images.githubusercontent.com/86873900/187647777-0d049e40-562d-4a3e-bb2c-2ea09ce5b725.png)
![image](https://user-images.githubusercont

[2022-09-02 01:50] lpoli commented on #808
Same issue raised [here](https://github.com/0chain/gosdk/issues/545)

[2022-09-02 01:50] #808 closed, assigned to lpoli

[2022-09-03 06:52] guruhubb commented on #476
We just need 3 different states.
a) default - as in mutable - all crud operations are allowed
b) upload-only, so no updates, rename, copy, move, delete
c) immutable - no cruds are allowed except for reads
@Sriep @lpoli @cnlangzi

[2022-09-06 06:55] lpoli commented on #810
https://github.com/0chain/gosdk/pull/565 and https://github.com/0chain/gosdk/pull/558 will fix this issue

[2022-09-06 08:51] Sriep opened #818 "Remove challenge completion time."
Challenge completion time is no longer determined on a per blobber basis, so we can remove all reference to challenge completion time. from the blobber; Including the [config.yaml setting](https://github.com/0chain/blobber/blob/staging/config/0chain_blobber.yaml#L70).

This is related to https://github.com/0chain/0chain/issues/1639.

[2022-09-07 15:33] lpoli commented on #791
Fixed by https://github.com/0chain/gosdk/pull/558

[2022-09-07 15:33] #791 closed, assigned to nobody

[2022-09-09 10:41] lawRathod opened #820 "Search endpoint to get file details/metadata using lookupHash"
* We have ability to list files part of the allocation using `listObjects` available on gosdk.
* The object in the response of `listObject` contains file details/metadata info.
* Using lookupHash we would like to get any file's details from a REST endpoint.
* Not sure but maybe we could add this to gosdk too.

[2022-09-09 14:47] lpoli commented on #787
Same as https://github.com/0chain/blobber/issues/818

[2022-09-09 14:47] #787 closed, assigned to lpoli

[2022-09-10 04:51] lpoli opened #822 "Verify merkle tree sent by client"
We only check content hash while file is committed to blobber. Blobber should also check if client has sent valid merkle root.

[2022-09-12 02:34] lpoli opened #824 "Fix writemarker lock issue"
Writemarker lock is basically added to support concurrent upload from a client single device to an allocation. A client can have multiple devices and each device can send upload request. It is fine till this point but when commit request competes with each other then it will fail to commit its upload. So writemarker lock comes into play.

The issue is that mutex lock is used globally for all alloc

[2022-09-12 03:02] #726 closed, assigned to cnlangzi

[2022-09-13 13:20] #818 closed, assigned to lpoli

[2022-09-13 18:12] boddumanohar opened #830 "retry attempts were not shown during blobber register transaction"
the below situation happens even if debug logs are enabled.

When i am trying to register a blobber, with the same url sometimes I get this error:

[code]
this error makes sense.

but this information is shown after around 4-5 mins when the max retries exceeded.

[code]

I am expecting in case of retries, we should show all the attempts of retries.

[2022-09-15 09:27] fabioDMFerreira commented on #810
@lpoli I am reopening this issue because the test in the description doesn't pass successfully yet.

I'll check the test passes after the tickets you are referring to are merged.

[2022-09-15 09:38] fabioDMFerreira commented on #810
The tests to check are still being reviewed on:
https://github.com/0chain/blobber/pull/803
https://github.com/0chain/0chain/pull/1603

[2022-09-18 01:15] lpoli commented on #810
Actually @fabioDMFerreira These are gosdk issues. That is why I had it closed. There is also an similar issue on gosdk.https://github.com/0chain/gosdk/issues/545

[2022-09-22 07:56] fabioDMFerreira commented on #810
@lpoli I realized https://github.com/0chain/gosdk/pull/558 was closed, but the code wasn't merged.

Which tickets are blocking download and upload from working properly? https://github.com/0chain/gosdk/pull/565 and https://github.com/0chain/gosdk/issues/545?

[2022-09-22 09:29] boddumanohar opened #837 "generate seperate keys for blobber"
generate seperate keys for blobber. Without seperate keys, both the validator and blobber will be using the same client id. If both the blobber and validator submits the transactions with the same nonce, then miner will reject the transaction.

To fix this generate seperate keys for blobber and validator.

[2022-09-30 12:57] #822 closed, assigned to lpoli

[2022-10-01 11:37] boddumanohar opened #840 "retrying an interrupted upload results in `merkle: leaf exists` error"
### steps to reproduce:

first try to upload a file, during the upload operation, cancel the upload

[code]

next check the conform and check the list of all the files for the allocation
[code]

you can see that the files list is empty.

when you attempt run the same command again (which you interrupted earlier), I am seeing an error:
[code]

but if I change the remote path, it works fine.

### ex

[2022-10-03 10:44] fabioDMFerreira commented on #780
@lpoli Shouldn't `data + 1` blobbers be needed only for uploads?

The existing conductor test seems to expect download to succeed if only 2 blobbers are available (if data shards = 2 and parity = 1), but expects the upload to fail because consensus should reach at least 76.6%.

However, if the formula `data + 1` is applied to download and upload and I will change the test accordingly.

cc @dabasov

[2022-10-11 14:10] boddumanohar commented on #837
completed in https://github.com/0chain/blobber/pull/836

[2022-10-11 14:10] #837 closed, assigned to boddumanohar

[2022-10-11 14:12] boddumanohar commented on #830
After making the request we are using golang wait groups to wait. So its not possible to show log there.

[2022-10-11 14:12] #830 closed, assigned to boddumanohar

[2022-10-12 13:28] cnlangzi opened #849 "postgresql bug on challenge_timing"
[code]

[2022-10-14 01:05] #849 closed, assigned to boddumanohar, avanaur

[2022-10-14 14:01] Sriep commented on #588
~The problem with auth-tickets is due to [downloadFile](https://github.com/0chain/blobber/blob/staging/code/go/0chain.net/blobbercore/handler/object_operation_handler.go#L259)~
[code]
~This should check the read pool of the user paying for the read, which might not be the `clientID` as here. We should put back the `payerId` logic that was removed in https://github.com/0chain/blobber/pull/717~

Ok,